<template>
  <router-link :to="to" :class="`tutorial-block variant-${variant}`" :style="{ backgroundImage }">
    <h2>{{ title }}</h2>
  </router-link>
</template>

<script>
export default {
  name: "TutorialBlock",
  props: {
    bgImage: {
      type: String,
      required: false,
      default: null,
    },
    to: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    variant: {
      type: String,
      required: false,
      default: "light",
    },
  },
  computed: {
    backgroundImage() {
      if (this.bgImage) {
        return `url('${this.bgImage}')`;
      }

      return undefined;
    },
  },
};
</script>

<style lang="scss">
.tutorial-block {
  min-height: 8rem;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding-left: 2rem;

  display: flex;
  align-items: center;

  background-repeat: no-repeat;
  // Background height a bit larger than the container since the images have a bit of transparent padding
  background-size: auto 9rem;
  background-position: top right;
  transition-duration: 0.2s;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    opacity: 0.9;
    box-shadow: 0 0 0.75rem $locomotion-green;
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
    color: $white;
    margin: 0;
  }

  &.variant {
    &-light {
      background-color: $locomotion-light-green;
    }

    &-dark {
      background-color: $locomotion-dark-green;
    }
  }
}
</style>
