<template>
  <div class="loan__actions__buttons flex-column flex-md-row-reverse" v-if="!!item.id">
    <b-button
      variant="danger"
      v-if="item.status !== 'canceled'"
      :disabled="!canCancelLoan"
      @click="$emit('cancel')"
    >
      Annuler la réservation
    </b-button>
    <b-button v-if="canResumeLoan" variant="danger" @click="$emit('resume')">
      Réactiver la réservation
    </b-button>
    <b-button
      v-if="canDeclareExtension"
      variant="warning"
      :disabled="!hasReachedStep('takeover') || hasReachedStep('payment')"
      @click="addExtension"
    >
      Signaler un retard
    </b-button>
    <b-button
      v-if="canDeclareIncident"
      variant="warning"
      :disabled="!hasReachedStep('takeover')"
      @click="$emit('incident')"
    >
      Signaler un incident
    </b-button>
  </div>
</template>

<script>
import LoanStepsSequence from "@/mixins/LoanStepsSequence";
import UserMixin from "@/mixins/UserMixin";
import {
  canCancelLoan,
  canDeclareExtension,
  canDeclareIncident,
  canResumeLoan,
} from "@/helpers/permissions/loans";

export default {
  name: "ActionButtons",
  mixins: [LoanStepsSequence, UserMixin],
  props: {
    // Item is a loan.
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    canCancelLoan() {
      return canCancelLoan(this.user, this.item, this.$second);
    },
    canDeclareIncident() {
      return canDeclareIncident(this.user, this.item);
    },
    canResumeLoan() {
      return canResumeLoan(this.user, this.item);
    },
    canDeclareExtension() {
      return canDeclareExtension(this.user, this.item);
    },
  },
  methods: {
    addExtension() {
      // Only a single unapproved extension is allowed at a time
      const activeExtension = this.item.extensions.find((e) => e.status === "in_process");

      if (activeExtension) {
        this.$store.commit("addNotification", {
          title: "Retard déjà demandé!",
          content:
            "Un seul retard peut-être demandé à la fois. Annulez le retard en cours et demandez-en un nouveau.",
          variant: "warning",
        });

        setTimeout(() => {
          const el = document.getElementById(`loan-extension-${activeExtension.id ?? "new"}`);
          this.$scrollTo(el);
        }, 10);

        return;
      }

      this.$emit("extension");
    },
  },
};
</script>

<style lang="scss">
.loan__actions__buttons {
  display: flex;
  gap: 0.5rem;
}
</style>
