<template>
  <b-card no-body class="loan-form loan-actions loan-actions-new loan-actions-creation">
    <b-card-header
      header-tag="header"
      role="tab"
      class="loan-actions__header"
      v-b-toggle.loan-actions-new
    >
      <h2>
        <svg-check v-if="item.id" />
        <svg-waiting v-else />

        {{ loanableIsSelfService ? "Réservation" : "Demande d'emprunt" }}
      </h2>

      <span v-if="!item.created_at">En cours de création</span>
      <span v-else>Complété &bull; {{ item.created_at | datetime }}</span>
    </b-card-header>

    <b-collapse id="loan-actions-new" role="tabpanel" accordion="loan-actions" :visible="open">
      <b-card-body>
        <validation-observer ref="observer" v-slot="{ passes }">
          <b-form
            :novalidate="true"
            class="form loan-form__form"
            @keydown.enter.prevent
            @submit.stop.prevent="passes(submit)"
            @reset.stop.prevent="$emit('reset')"
          >
            <b-row>
              <b-col>
                <b-alert show variant="warning" v-if="item.loanable.comments">
                  <div class="alert-heading">
                    <h4>Commentaires du propriétaire sur le véhicule</h4>
                  </div>
                  <div class="owner-comments-text">
                    <p>{{ item.loanable.comments }}</p>
                  </div>
                </b-alert>
              </b-col>
            </b-row>

            <b-row>
              <b-col lg="6">
                <!--
                  Disable past times only if loan is editable.
                -->
                <forms-validated-input
                  name="departure_at"
                  :disabled="disabled"
                  :label="$t('fields.departure_at') | capitalize"
                  :rules="form.departure_at.rules"
                  type="datetime"
                  :disabled-dates-fct="!disabled ? dateIsInThePast : null"
                  :disabled-times-fct="!disabled ? timeIsInThePast : null"
                  :placeholder="placeholderOrLabel('departure_at') | capitalize"
                  v-model="item.departure_at"
                  @input="changeSearchDate"
                />
              </b-col>

              <b-col lg="6">
                <!--
                  Disable past times only if loan is editable.
                -->
                <forms-validated-input
                  name="return_at"
                  :disabled="disabled"
                  :label="$t('fields.return_at') | capitalize"
                  :rules="form.departure_at.rules"
                  type="datetime"
                  :disabled-dates-fct="!item.id ? dateIsInThePast : null"
                  :disabled-times-fct="!item.id ? timeIsInThePast : null"
                  :placeholder="placeholderOrLabel('return_at') | capitalize"
                  v-model="returnAt"
                  @input="changeSearchDuration"
                />
              </b-col>
            </b-row>

            <b-row v-if="invalidDuration">
              <b-col>
                <b-alert show variant="danger">
                  La durée de l'emprunt doit être supérieure ou égale à 15 minutes.
                </b-alert>
              </b-col>
            </b-row>

            <b-row>
              <b-col>
                <forms-validated-input
                  name="reason"
                  :disabled="disabled"
                  :label="$t('fields.reason') | capitalize"
                  :rules="form.reason.rules"
                  type="text"
                  :placeholder="placeholderOrLabel('reason') | capitalize"
                  v-model="item.reason"
                  :description="$t('fields_description.reason')"
                />
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" v-if="item.loanable.type === 'car'">
                <forms-validated-input
                  name="estimated_distance"
                  :label="$t('fields.estimated_distance') | capitalize"
                  type="text"
                  :min="0"
                  :rules="{ min_value: 0, required: true }"
                  :disabled="disabled"
                  :placeholder="placeholderOrLabel('estimated_distance') | capitalize"
                  mask="#######"
                  :formatter="integer"
                  v-model="item.estimated_distance"
                />
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6">
                <forms-validated-input
                  name="platform_tip"
                  :disabled="disabled"
                  :label="$t('fields.platform_tip') | capitalize"
                  :rules="{ required: true }"
                  :description="$t('fields_description.platform_tip')"
                  type="currency"
                  :min="0"
                  :placeholder="'Suggestion: ' + suggested_tip"
                  v-model="item.platform_tip"
                />
              </b-col>
            </b-row>

            <b-row>
              <!-- No message for owner if the loanable is self service. -->
              <b-col v-if="!loanableIsSelfService">
                <forms-validated-input
                  name="message_for_owner"
                  :disabled="disabled"
                  :label="
                    (`${$t('fields.message_for_owner')} ` + `(${$t('optional')})`) | capitalize
                  "
                  :rules="form.message_for_owner.rules"
                  type="textarea"
                  :rows="3"
                  :placeholder="placeholderOrLabel('message_for_owner') | capitalize"
                  v-model="item.message_for_owner"
                />
              </b-col>
            </b-row>

            <b-alert v-if="canModifyLoanInfo && willNeedReapproval" show variant="warning">
              <h4 class="alert-heading">Modification des heures de l'emprunt</h4>
              Le-a propriétaire du véhicule devra réapprouver votre emprunt.
            </b-alert>

            <b-row v-if="!disabled" class="form__buttons">
              <b-col class="text-center">
                <b-button disabled type="submit" v-if="!item.loanable.available">
                  Indisponible
                </b-button>
                <b-button
                  type="submit"
                  :disabled="loading || invalidDuration || disabled || !changed"
                  v-else-if="!loanableIsSelfService"
                >
                  {{ !item.id ? "Faire la demande d'emprunt" : "Modifier" }}
                </b-button>
                <b-button type="submit" :disabled="loading" v-else>
                  {{ !item.id ? "Réserver" : "Modifier" }}
                </b-button>
              </b-col>
            </b-row>
          </b-form>
        </validation-observer>
      </b-card-body>
    </b-collapse>
  </b-card>
</template>

<script>
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";

import FormLabelsMixin from "@/mixins/FormLabelsMixin";
import LoanFormMixin from "@/mixins/LoanFormMixin";
import LoanStepsSequence from "@/mixins/LoanStepsSequence";

import Check from "@/assets/svg/check.svg";
import Waiting from "@/assets/svg/waiting.svg";

import locales from "@/locales";
import { currency, integer } from "@/helpers/filters";
import { isLoanAdmin } from "@/helpers/permissions/loans";

export default {
  name: "LoanForm",
  mixins: [FormLabelsMixin, LoanFormMixin, LoanStepsSequence],
  components: {
    FormsValidatedInput,
    "svg-check": Check,
    "svg-waiting": Waiting,
  },
  mounted() {
    // Estimated the cost for new items
    if (!this.disabled) {
      this.$store.dispatch("loans/test");
    }
  },
  props: {
    open: {
      type: Boolean,
      required: false,
      default: false,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  methods: {
    integer,
    submit() {
      this.$emit("submit");
    },
    changeSearchDate() {
      this.$store.commit("loanable.search/lastSearchDate", this.item.departure_at);
    },
    changeSearchDuration() {
      this.$store.commit("loanable.search/lastSearchDuration", this.item.duration_in_minutes);
    },
  },
  computed: {
    form() {
      return this.$store.state.loans.form;
    },
    canModifyLoanInfo() {
      return this.userIsBorrower || (!!this.item.id && isLoanAdmin(this.user, this.item));
    },
    disabled() {
      return (
        !this.canModifyLoanInfo || (this.item.id && this.$second.isAfter(this.item.departure_at))
      );
    },
    willNeedReapproval() {
      return (
        this.isTimeChanged &&
        this.item.intention &&
        this.item.intention.status === "completed" &&
        !this.item.loanable.is_self_service
      );
    },
    isTimeChanged() {
      if (!this.item.id) {
        return false;
      }

      const initialItem = this.$store.getters["loans/initialItem"];

      return (
        this.item.duration_in_minutes !== initialItem.duration_in_minutes ||
        this.item.departure_at !== initialItem.departure_at
      );
    },
    changed() {
      if (!this.item.id) {
        return true;
      }

      // shallow clone
      const initialItem = {
        ...this.$store.getters["loans/initialItem"],
      };
      const currentItem = {
        ...this.item,
      };

      const fieldsToCompare = [
        "departure_at",
        "duration_in_minutes",
        "platform_tip",
        "message_for_owner",
        "reason",
        "estimated_distance",
      ];

      for (const field of fieldsToCompare) {
        if (initialItem[field] !== currentItem[field]) {
          return true;
        }
      }
      return false;
    },
    invalidDuration() {
      // Invalid if the duration is not greater than 0 minute.
      return !(this.item.duration_in_minutes > 0);
    },
    loading() {
      return this.$store.state.loans.loading;
    },
    loanParams() {
      return JSON.stringify({
        departure_at: this.item.departure_at,
        duration_in_minutes: this.item.duration_in_minutes,
        estimated_distance: this.item.estimated_distance,
        loanable_id: this.item.loanable.id,
      });
    },
    suggested_tip() {
      if (!this.item.estimated_price || this.item.estimated_price * 0.1 < 2) {
        return currency(2);
      }

      if (this.item.estimated_price * 0.1 < 2) {
        return currency(2);
      }

      return `10% = ${currency(Math.round(this.item.estimated_price * 10) / 100.0)}`;
    },
  },
  watch: {
    async loanParams(newValue, oldValue) {
      if (newValue !== oldValue) {
        await this.$store.dispatch("loans/test");
      }
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loans,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.loans,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss">
.loan-form__estimations__loading {
  max-width: 100px;
  max-height: 30px;
}
.owner-comments-text {
  white-space: pre-wrap;
}
</style>
