<template>
  <info-box
    class="loan-info-box"
    :user-avatar="otherUser"
    :title="loan.loanable.name"
    :big-img="loanableImage"
    :image-corner="isBorrower ? 'top-right' : 'bottom-right'"
    :link="`/loans/${this.loan.id}`"
    :loading="loading"
  >
    <b-row class="flex-fill">
      <b-col class="loan-info-box__name" cols="12" xl>
        <b-row>
          <b-col>
            <span class="loan-info-box__name__user" v-if="otherUser">
              {{ otherUser.full_name }}
              <br />
            </span>
            <span class="loan-info-box__name__loanable">{{ loan.loanable.name }}</span>
          </b-col>
        </b-row>

        <b-row class="mt-2 align-items-end">
          <b-col>
            <b-row>
              <b-col xl="auto" lg="12" class="loan-info-box__details">
                <span v-if="multipleDays">
                  {{ loan.departure_at | shortDate }} {{ loan.departure_at | time }} |
                  {{ returnAt | date }} {{ returnAt | time }}
                </span>
                <span v-else>
                  {{ loan.departure_at | shortDate }} | {{ loan.departure_at | time }} à
                  {{ returnAt | time }}
                </span>
              </b-col>
              <b-col class="mt-2 mt-xl-0">
                <loan-status :item="loan"></loan-status>
              </b-col>
            </b-row>
          </b-col>

          <b-col class="loan-info-box__buttons mt-2 mt-sm-0" cols="12" sm="auto">
            <b-button
              size="sm"
              :disabled="loading"
              variant="success"
              v-if="hasButton('accept') && canAcceptLoan"
              @click.prevent="acceptLoan"
            >
              Accepter
            </b-button>
            <b-button
              size="sm"
              :disabled="loading"
              variant="outline-primary"
              v-if="hasButton('view') && canViewLoan"
              :to="`/loans/${this.loan.id}`"
            >
              Consulter
            </b-button>
            <b-button
              size="sm"
              :disabled="loading"
              variant="outline-danger"
              v-if="hasButton('reject') && canRejectLoan"
              @click.prevent="rejectLoan"
            >
              Refuser
            </b-button>

            <b-button
              size="sm"
              :disabled="loading"
              variant="outline-danger"
              v-if="hasButton('cancel') && canCancelLoan"
              @click.prevent="cancelLoan"
            >
              Annuler
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </info-box>
</template>
<script>
import LoanStatus from "@/components/Loan/Status.vue";
import UserAvatar from "@/components/User/Avatar.vue";
import InfoBox from "@/components/shared/InfoBox.vue";
import {
  canAcceptLoan,
  canCancelLoan,
  canRejectLoan,
  canViewLoan,
  isBorrower,
} from "@/helpers/permissions/loans";

export default {
  name: "LoanInfoBox",
  props: {
    buttons: {
      type: Array,
      required: false,
      default() {
        return ["accept", "reject"];
      },
    },
    loan: {
      type: Object,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
    withSteps: {
      type: Boolean,
      required: false,
      default: false,
    },
    variant: {
      type: String,
      required: false,
      default: "",
    },
  },
  data() {
    return {
      loading: false,
    };
  },
  components: {
    InfoBox,
    LoanStatus,
    UserAvatar,
  },
  computed: {
    canCancelLoan() {
      return canCancelLoan(this.user, this.loan, this.$second);
    },
    isAvailable() {
      return this.$store.state.loans.item.isAvailable;
    },
    loanableImage() {
      const { image } = this.loan.loanable;
      if (!image) {
        return "";
      }

      return image.sizes.thumbnail;
    },
    multipleDays() {
      return (
        this.$dayjs(this.loan.departure_at).format("YYYY-MM-DD") !==
        this.$dayjs(this.returnAt).format("YYYY-MM-DD")
      );
    },
    otherUser() {
      if (this.user.id === this.loan.borrower.user.id) {
        if (!this.loan.loanable.owner) {
          return null;
        }

        return this.loan.loanable.owner.user;
      }

      return this.loan.borrower.user;
    },
    returnAt() {
      return this.$dayjs(this.loan.actual_return_at).format("YYYY-MM-DD HH:mm:ss");
    },
    canViewLoan() {
      return canViewLoan(this.user, this.loan);
    },
    canAcceptLoan() {
      return canAcceptLoan(this.user, this.loan);
    },
    isBorrower() {
      return isBorrower(this.user, this.loan);
    },
    canRejectLoan() {
      return canRejectLoan(this.user, this.loan);
    },
  },
  methods: {
    async acceptLoan() {
      const intention = this.loan.intention;
      try {
        this.loading = true;
        await this.$store.dispatch("loans/isAvailable", this.loan.id);

        if (!this.isAvailable) throw "unavailable";
        else {
          await this.$store.dispatch("loans/sendRequest", {
            method: "put",
            url: `/loans/${this.loan.id}/intention/complete`,
            data: intention,
          });
          await this.$store.dispatch("dashboard/loadLoans");
          this.$emit("changed", this.loan.id);
        }
      } catch (e) {
        if (e === "unavailable") {
          this.$store.commit("addNotification", {
            content: "Ce véhicule n'est pas disponible pour cette réservation.",
            title: "Véhicule non disponible",
            variant: "danger",
            type: "loans",
          });
        } else throw e;
      } finally {
        this.loading = false;
      }
    },
    async cancelLoan() {
      try {
        this.loading = true;
        await this.$store.dispatch("loans/cancel", this.loan.id);
        await this.$store.dispatch("dashboard/loadLoans");
        this.$emit("changed", this.loan.id);
      } catch (e) {
        throw e;
      } finally {
        this.loading = false;
      }
    },
    async rejectLoan() {
      try {
        this.loading = true;
        await this.$store.dispatch("loans/cancel", this.loan.id);
        await this.$store.dispatch("dashboard/loadLoans");
        this.$emit("changed", this.loan.id);
      } catch (e) {
        throw e;
      } finally {
        this.loading = false;
      }
    },
    hasButton(name) {
      return this.buttons.indexOf(name) > -1;
    },
  },
};
</script>

<style lang="scss">
@import "~bootstrap/scss/mixins/breakpoints";

.loan-info-box {
  &__name {
    color: $black;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  &__name__loanable {
    font-size: 1.25rem;
  }

  &__details {
    color: $black;
  }

  &__buttons {
    justify-self: end;
    > .btn + .btn {
      margin-left: 0.5rem;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    @include media-breakpoint-up(xl) {
      justify-content: end;
    }
  }
}
</style>
