<template>
  <div class="loan-search-form">
    <b-form class="form loan-search-form" @submit.stop.prevent="submit">
      <!-- title -->
      <div>
        <h4 class="loan-search-form--no-margin">Qu'aimeriez-vous emprunter</h4>
        <h4 class="loan-search-form--green">à vos voisin-e-s?</h4>
      </div>
      <!---->
      <!-- buttons to select types of vehicles -->
      <b-form-group>
        <b-form-checkbox-group
          v-if="possibleLoanableTypes.length > 1"
          buttons
          :disabled="loading"
          class="loanable-buttons"
          id="loanable_type"
          :checked="selectedLoanableTypes"
          @change="emitLoanableTypes"
        >
          <b-checkbox
            v-if="possibleLoanableTypes.includes('car')"
            value="car"
            :disabled="!canLoanCar"
          >
            <svg-car />
            <div>Auto</div>
          </b-checkbox>
          <b-checkbox v-if="possibleLoanableTypes.includes('bike')" value="bike">
            <svg-bike />
            <div>Vélo</div>
          </b-checkbox>
          <b-checkbox v-if="possibleLoanableTypes.includes('trailer')" value="trailer">
            <svg-trailer />
            <div>Remorque</div>
          </b-checkbox>
        </b-form-checkbox-group>
      </b-form-group>
      <b-alert
        show
        variant="danger"
        v-if="!canLoanCar && possibleLoanableTypes.includes('car') && !isSuspended"
      >
        <strong>Oops! Pour emprunter l'auto de vos voisin-e-s</strong> vous devez remplir votre
        dossier de conduite.
        <b-button
          to="/profile/borrower"
          pill
          class="loan-search-form__button-borrower"
          variant="danger"
        >
          Remplissez votre dossier
        </b-button>
      </b-alert>
      <!---->
      <div v-if="form">
        <!-- field start time -->
        <forms-validated-input
          name="departure_at"
          :label="$t('fields.departure_at') | capitalize"
          :rules="form.departure_at.rules"
          type="datetime"
          :disabled-dates-fct="dateIsInThePast"
          :disabled-times-fct="timeIsInThePast"
          :placeholder="placeholderOrLabel('departure_at') | capitalize"
          v-model="item.departure_at"
          @input="changeSearchDate"
        />
        <!---->
        <!-- field end time -->
        <forms-validated-input
          name="return_at"
          :label="$t('fields.return_at') | capitalize"
          :rules="form.departure_at.rules"
          type="datetime"
          :disabled-dates-fct="dateIsInThePast"
          :disabled-times-fct="timeIsInThePast"
          :placeholder="placeholderOrLabel('return_at') | capitalize"
          v-model="returnAt"
          @input="changeSearchDuration"
        />
        <!---->
        <!-- text for loan invalid duration -->
        <b-alert show variant="danger" v-if="invalidDuration">
          La durée de l'emprunt doit être supérieure ou égale à 15 minutes.
        </b-alert>
        <!---->
        <!-- search button -->
        <b-button
          pill
          type="submit"
          variant="primary"
          class="mr-2 mb-2"
          :disabled="loading || invalidDuration"
        >
          <b-spinner small v-if="loading" />
          Rechercher
        </b-button>
        <!---->
      </div>
      <layout-loading v-else />
    </b-form>
  </div>
</template>

<script>
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";

import FormLabelsMixin from "@/mixins/FormLabelsMixin";
import LoanFormMixin from "@/mixins/LoanFormMixin";

import locales from "@/locales";

import Bike from "@/assets/svg/bike.svg";
import Car from "@/assets/svg/car.svg";
import Trailer from "@/assets/svg/trailer.svg";
import dayjs from "dayjs";

export default {
  name: "Form",
  components: {
    FormsValidatedInput,
    "svg-bike": Bike,
    "svg-car": Car,
    "svg-trailer": Trailer,
  },
  mixins: [FormLabelsMixin, LoanFormMixin],
  props: {
    canLoanCar: {
      type: Boolean,
      required: false,
      default: false,
    },
    isSuspended: {
      type: Boolean,
      required: false,
      default: false,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false,
    },
    loanableTypes: {
      type: Array,
      required: false,
      default() {
        return [];
      },
    },
    selectedLoanableTypes: {
      type: Array,
      require: true,
    },
    possibleLoanableTypes: {
      type: Array,
      require: true,
    },
  },
  beforeMount() {
    const { lastSearchDate, lastSearchDuration } = this.$store.state["loanable.search"];
    if (lastSearchDate) {
      this.item.departure_at = lastSearchDate;
    }
    if (lastSearchDuration) {
      this.item.duration_in_minutes = lastSearchDuration;
    }
    const now = new dayjs();
    if (dayjs(this.item.departure_at).isBefore(now)) {
      this.item.departure_at = now.format("YYYY-MM-DD HH:mm:00");
      this.$store.commit("loanable.search/lastSearchDate", null);
    }
  },
  methods: {
    emitLoanableTypes(value) {
      this.$emit("selectLoanableTypes", value);
    },
    submit() {
      this.$emit("submit");
    },
    changeSearchDate() {
      this.$store.commit("loanable.search/lastSearchDate", this.item.departure_at);
      this.$emit("changed");
    },
    changeSearchDuration() {
      this.$store.commit("loanable.search/lastSearchDuration", this.item.duration_in_minutes);
      this.$emit("changed");
    },
  },
  computed: {
    form() {
      return this.$store.state.loans.form;
    },
    invalidDuration() {
      // Invalid if the duration of a loan is not greater than 0 minute.
      return !(this.item.duration_in_minutes > 0);
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loans,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.loans,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss">
@import "~bootstrap/scss/mixins/breakpoints";

.loan-search-form {
  &__button-borrower {
    margin: 15px 0 0 0;
  }

  h4 {
    font-size: 22px;
    font-weight: 700;
  }

  svg {
    height: 22px;
    width: 34px;
  }
  svg path {
    fill: currentColor;
  }

  .loanable-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .loanable-buttons label.btn {
    border: 2px solid $locomotion-light-green;
    border-radius: 10px;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    // Make sure the buttons take about 1/3 of the space and grow/shrink together
    // 6.6666px: 2 10px gaps between the 3 buttons,
    // so each button has to be 2/3*10px shorter
    flex: 1 1 calc(33.3333% - 6.6666px);
    border-radius: 10px !important;
    padding-left: 6px;
    padding-right: 6px;
  }

  .loanable-buttons label:hover {
    background-color: #fff;
    border: 2px solid $locomotion-light-green;
  }

  .loanable-buttons .btn:not(:disabled):not(.disabled):active,
  .loanable-buttons .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .loanable-buttons .btn-secondary.dropdown-toggle {
    background-color: $locomotion-light-green;
    border: 2px solid $locomotion-light-green;
    color: #fff;
  }

  .loanable-buttons .btn:focus,
  .btn.focus {
    background-color: #fff;
    color: #7a7a7a;
  }

  .btn.disabled {
    background-color: #fff;
    border-color: $light !important;
    color: #7a7a7a;
  }
  .loanable-buttons .active.btn.disabled {
    background-color: $light;
  }
}

.loan-search-form--green {
  color: #00b1aa;
}

.loan-search-form--no-margin {
  margin: 0;
}

.loan-search-form--margin-bottom {
  margin-bottom: 15px;
}
</style>
