<template>
  <div>
    <h2 id="claim-credit-methods">Coordonnées bancaires</h2>
    <p>
      Lorsque vous voulez réclamer votre solde, remplissez vos informations ci-dessous pour
      simplifier la procédure. Vous pouvez aussi nous envoyer un courriel à
      <a
        href="mailto:info@locomotion.app?subject=Demande de transfert du solde du compte LocoMotion vers un compte bancaire&body=Veuillez joindre un spécimen chèque à ce courriel si besoin. %0D%0A
---- %0D%0A
Bonjour,%0D%0A%0D%0A

Je souhaite transférer la totalité de mon solde LocoMotion vers mon compte bancaire. %0D%0A%0D%0A

Voici les coordonnées de mon compte: %0D%0A%0D%0A

Numéro de compte:%0D%0A
Numéro de transit: %0D%0A
Code banque: %0D%0A
%0D%0A
OU %0D%0A  %0D%0A
Voici un spécimen chèque en pièce jointe. %0D%0A %0D%0A
Cordialement, %0D%0A"
        >info@locomotion.app</a
      >
      avec cette information à chaque fois que vous désirez réclamer votre compte.
    </p>
    <img src="/cheque.png" alt="exemplaire de chèque" class="mx-auto d-block mb-2 mw-100" />
    <Step :number="1" slim>
      <template #title>
        <span>Numéro de chèque&nbsp;:&nbsp; <strong>non nécessaire</strong></span>
      </template>
    </Step>
    <validation-observer ref="profileFormObserver" v-slot="{ passes, pristine, valid }">
      <b-form @submit.prevent.stop="passes(() => submit(!pristine))">
        <Step :number="2" slim>
          <template #title>
            <forms-validated-input
              class="flex-fill"
              name="bank_transit_number"
              :label="'Numéro de succursale'"
              :rules="{ required: true, length: 5, numeric: true }"
              type="text"
              size="5"
              v-model="user.bank_transit_number"
            />
          </template>
        </Step>

        <Step :number="3" slim>
          <template #title>
            <forms-validated-input
              name="bank_institution_number"
              class="flex-fill"
              :label="'Numéro d\'institution'"
              :rules="{ required: true, length: 3, numeric: true }"
              type="text"
              size="3"
              v-model="user.bank_institution_number"
            />
          </template>
        </Step>

        <Step :number="4" slim>
          <template #title>
            <forms-validated-input
              name="bank_account_number"
              class="flex-fill"
              :label="'Numéro de compte'"
              :rules="{ required: true, min: 7, max: 12, numeric: true }"
              type="text"
              v-model="user.bank_account_number"
            />
          </template>
        </Step>

        <div class="form__buttons">
          <b-button
            variant="success"
            type="submit"
            :disabled="loading || showLoading || (!valid && pristine)"
          >
            {{ saveButtonLabel || $t("forms.save") | capitalize }}
          </b-button>
          <template v-if="hadBankInfoInitially && showReset">
            &nbsp;
            <b-button variant="danger" @click="resetBankInfo">Effacer</b-button>
          </template>
          <template v-if="showCancel">
            &nbsp;
            <b-button variant="warning" @click="$emit('cancel')">Annuler</b-button>
          </template>
          &nbsp;
          <layout-loading with-button v-if="loading || showLoading" />
        </div>
      </b-form>
    </validation-observer>
  </div>
</template>

<script>
import Vue from "vue";
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import Step from "@/components/Loan/Actions/Step.vue";

export default Vue.extend({
  name: "BankDetailsForm",
  components: { Step, FormsValidatedInput },
  props: {
    showCancel: {
      type: Boolean,
      default: false,
    },
    saveButtonLabel: {
      type: String,
      default: null,
    },
    showLoading: {
      type: Boolean,
      default: false,
    },
    showReset: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      loading: false,
      hadBankInfoInitially: false,
    };
  },
  mounted() {
    this.hadBankInfoInitially = this.hasBankInfo;
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    hasBankInfo() {
      return (
        this.user.bank_transit_number ||
        this.user.bank_institution_number ||
        this.user.bank_account_number
      );
    },
  },
  methods: {
    async resetBankInfo() {
      this.user.bank_account_number = null;
      this.user.bank_transit_number = null;
      this.user.bank_institution_number = null;

      await this.submit(true);
    },
    async submit(changed) {
      if (changed) {
        this.loading = true;
        await this.$store.dispatch("users/update", {
          id: this.user.id,
          data: {
            id: this.user.id,
            bank_transit_number: this.user.bank_transit_number,
            bank_institution_number: this.user.bank_institution_number,
            bank_account_number: this.user.bank_account_number,
          },
          params: {
            fields: "id,bank_transit_number,bank_institution_number,bank_account_number",
          },
        });

        this.$store.commit("addNotification", {
          title: "Changements sauvegardés!",
          variant: "success",
        });
      }
      this.$emit("saved");
      this.loading = false;
    },
  },
});
</script>

<style scoped lang="scss"></style>
