.loan-actions {
    &__alert .alert {
        margin-bottom: 0;
        margin-top: 1rem;

        p:last-child {
            margin-bottom: 0;
        }
    }

    .form-group {
        legend,
        label:not(.btn) {
            font-weight: bold;
        }
    }

    > div > .card-body {
        padding: 0 1.25rem 1.25rem 1.25rem;
        min-height: 45px;

        blockquote {
            position: relative;
            padding: 1rem;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            border: 1px solid $light-grey;

            > .user-avatar {
                height: 45px;
                width: 45px;
                margin-right: 1rem;
                flex-shrink: 0;
            }
        }
    }

    &__header {
        &.card-header {
            background-color: transparent;
            cursor: pointer;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        flex-wrap: wrap;
        justify-content: space-between;

        h2 {
            font-size: 1.75rem;
            margin-bottom: 0.5rem;
            display: flex;

            svg {
                margin-right: 1rem;
                display: inline-block;
                height: 2rem;
                align-self: center;
            }
        }

        span {
            font-size: 13px;
            text-align: right;
            flex-grow: 1;
        }
    }
}
