.table {
    &__cell__actions {
        width: 1px;
        white-space: nowrap;

        .btn {
            margin-right: 0.25rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
