<template>
  <paginated-table
    endpoint="communities"
    :fetch-params="{ for: 'edit' }"
    :field-defs="fields"
    :label="$tc('community', 2)"
  >
    <template #head-buttons>
      <b-btn v-if="canCreateCommunity" :to="`/admin/communities/new`" variant="primary">
        {{ $t("create_community") | capitalize }}
      </b-btn>
    </template>
  </paginated-table>
</template>

<script>
import AdminListActions from "@/components/Admin/ListActions.vue";
import locales from "@/locales";
import { capitalize } from "@/helpers/filters";
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";
import { isGlobalAdmin } from "@/helpers/permissions/users";

export default {
  name: "AdminCommunities",
  components: {
    PaginatedTable,
    AdminListActions,
  },
  data() {
    return {
      selected: [],
      fields: [
        new FieldDef("id", "ID", "id"),
        new FieldDef("name", "Nom"),
        new FieldDef("type", "Type", [
          { value: null, label: this.$t("fields.types.null") },
          { value: "borough", label: this.$t("fields.types.borough") },
          { value: "private", label: this.$t("fields.types.private") },
        ]),
      ],
    };
  },
  computed: {
    canCreateCommunity() {
      // Global admins only for the moment.
      const loggedInUser = this.$store.state.user;
      return isGlobalAdmin(loggedInUser);
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.communities,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.communities,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss"></style>
