<template>
  <paginated-table endpoint="invoices" :field-defs="table" :label="$tc('invoice', 2)">
    <template #cell(paid_at)="{ item }">
      {{ item.paid_at ? "✓" : "✗" }}
    </template>
  </paginated-table>
</template>

<script>
import locales from "@/locales";
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";

export default {
  name: "AdminInvoices",
  components: {
    PaginatedTable,
  },
  data() {
    return {
      table: [
        new FieldDef("id", "ID", "id", { show: false, filter: false }),
        new FieldDef("user.full_name", "Membre"),
        new FieldDef("created_at", "Date", "date"),
        new FieldDef("paid_at", "Payée", "date", { filter: false }),
        new FieldDef("total", "Total", "currency"),
        new FieldDef("total_with_taxes", "Total avec taxes", "currency"),
      ],
    };
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.invoices,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.invoices,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss"></style>
