<template>
  <div>
    <paginated-table
      :field-defs="table"
      endpoint="loans"
      :fetch-params="{ for: 'edit' }"
      :label="$tc('model_name', 2)"
      sync-filters-with-url
    >
      <template #cell(status)="{ item }">
        <loan-status :item="item"></loan-status>
      </template>
    </paginated-table>
  </div>
</template>

<script>
import LoanStatus from "@/components/Loan/Status.vue";
import locales from "@/locales";
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";
import { loanBorrowerLink, loanLoanableLink, loanOwnerLink } from "@/helpers/adminLinks";
import { canSeeDeletedUser } from "@/helpers/permissions/users";

export default {
  name: "AdminLoans",
  components: {
    PaginatedTable,
    LoanStatus,
  },
  data() {
    const user = this.$store.state.user;
    return {
      table: [
        new FieldDef("id", "ID", "id"),
        new FieldDef("departure_at", "Départ", "date"),
        new FieldDef("actual_return_at", "Retour", "date", { show: false }),
        new FieldDef(
          "borrower.user.full_name",
          "Emprunteur",
          {
            relation: "users",
            label: "full_name",
            field: "id",
            params: { for: "edit", with_deleted: canSeeDeletedUser(user) },
          },
          {
            filterKey: "borrower.user.id",
            urlFct: loanBorrowerLink,
          }
        ),
        new FieldDef(
          "loanable.owner.user.full_name",
          "Propriétaire",
          {
            relation: "users",
            label: "full_name",
            field: "id",
            params: { for: "edit", with_deleted: canSeeDeletedUser(user) },
          },
          {
            filterKey: "loanable.owner.user.id",
            urlFct: loanOwnerLink,
          }
        ),
        new FieldDef(
          "community.name",
          "Communauté",
          { relation: "communities", label: "name", field: "id", params: { for: "edit" } },
          {
            filterKey: "community.id",
            urlFct: (loan) => `/admin/communities/${loan.community.id}`,
          }
        ),
        new FieldDef(
          "loanable.name",
          "Véhicule",
          {
            relation: "loanables",
            label: "name",
            field: "id",
            params: { for: "edit", with_deleted: true },
          },
          {
            filterKey: "loanable.id",
            urlFct: loanLoanableLink,
          }
        ),
        new FieldDef("status", "Statut", [
          { value: null, label: "Tous" },
          { value: "in_process", label: "En cours" },
          { value: "completed", label: "Complété" },
          { value: "canceled", label: "Annulé" },
        ]),
        new FieldDef("actual_duration_in_minutes", "Durée (minutes)", "number", { show: false }),
        new FieldDef("calendar_days", "Nombre de jours", "number", { show: false }),
        new FieldDef(
          "loanable.type",
          "Type de véhicule",
          [
            { value: null, label: "Tous" },
            { value: "car", label: "auto" },
            { value: "trailer", label: "Remorque" },
            { value: "bike", label: "vélo" },
          ],
          { show: false }
        ),
        new FieldDef(
          "incidents.status",
          "Incidents",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Résolu" },
            { value: "canceled", label: "Annulé" },
          ],
          { showable: false }
        ),
        new FieldDef(
          "extensions.status",
          "Retards",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Accepté" },
            { value: "canceled", label: "Annulé" },
          ],
          { showable: false }
        ),
        new FieldDef(
          "loanable.is_self_service",
          "Libre service",
          [
            { value: null, label: "Tous" },
            { value: true, label: "En libre service" },
            { value: false, label: "Sur demande" },
          ],
          { show: false }
        ),
        new FieldDef(
          "intention.status",
          "Demande d'emprunt",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Acceptée" },
            { value: "canceled", label: "Refusée" },
          ],
          { show: false }
        ),
        new FieldDef(
          "pre_payment.status",
          "Prépaiement",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Complété" },
            { value: "canceled", label: "Annulé" },
          ],
          { show: false }
        ),
        new FieldDef(
          "takeover.status",
          "Prise de possession",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Complétée" },
            { value: "canceled", label: "Contestée" },
          ],
          { show: false }
        ),
        new FieldDef(
          "handover.status",
          "Retour du véhicule",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Complété" },
            { value: "canceled", label: "Contesté" },
          ],
          { show: false }
        ),
        new FieldDef(
          "payment.status",
          "Paiment",
          [
            { value: null, label: "Tous" },
            { value: "in_process", label: "En cours" },
            { value: "completed", label: "Complété" },
            { value: "canceled", label: "Annulé" },
          ],
          { show: false }
        ),
      ],
    };
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loans,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.loans,
        ...locales.fr.forms,
      },
    },
  },
};
</script>

<style lang="scss"></style>
