<template>
  <layout-page name="community-overview" v-if="routeDataLoaded" wide>
    <div>
      <b-card
        v-if="borough"
        class="community-overview__borough"
        :title="`Quartier ${borough ? borough.name : ''}`"
      >
        <b-card-text>
          <div>
            <p class="community-overview__description" v-if="borough && borough.description">
              {{ borough.description }}
            </p>
          </div>
        </b-card-text>
      </b-card>

      <gmap-map
        class="community-overview__map"
        ref="map"
        :zoom="12"
        :center="center"
        :options="mapOptions"
        map-type-id="terrain"
        @click="resetView()"
      >
        <template v-for="b in boroughPolygons">
          <gmap-polygon
            v-for="(path, index) in b.paths"
            :key="`polygon-${b.community.id}-${index}`"
            :path="path"
            :label="b.community.name"
            :options="boroughPolygonOptions"
            @click="setCommunity(b.community)"
          />
        </template>
        <gmap-marker
          v-for="c in communities"
          :key="`marker-${c.id}`"
          :icon="{
            url: '/pins/default-pin.svg',
            scaledSize: {
              width: 28,
              height: 40,
            },
          }"
          :position="c.center_google"
          :options="markerOptions"
          @click="setCommunity(c)"
        />
      </gmap-map>
    </div>
  </layout-page>
</template>

<script>
import { gmapApi } from "vue2-google-maps";

import DataRouteGuards from "@/mixins/DataRouteGuards";
import { extractMultipolygonPaths, extractMultipolygonPoints } from "@/helpers/geoJson";

export default {
  name: "Overview",
  mixins: [DataRouteGuards],
  data() {
    return {
      mapIcon: {
        url: "perdu.com",
      },
      mapOptions: {
        streetViewControl: false,
        fullscreenControl: false,
        mapTypeControl: false,
        styles: [
          {
            featureType: "poi",
            stylers: [{ visibility: "off" }],
          },
        ],
      },
      boroughPolygonOptions: {
        fillColor: "#16a59e",
        fillOpacity: 0.15,
        strokeColor: "#16a59e",
        strokeOpacity: 0.8,
        zIndex: 2,
      },
      markerOptions: {
        zIndex: 3,
      },
    };
  },
  computed: {
    center() {
      const communitiesWithCenters = this.communities.filter(
        (c) => c.center && c.center.length === 2
      );

      const center = communitiesWithCenters.reduce(
        (acc, c) => [acc[0] + c.center[0], acc[1] + c.center[1]],
        [0, 0]
      );

      return {
        lat: center[0] / communitiesWithCenters.length,
        lng: center[1] / communitiesWithCenters.length,
      };
    },
    borough: {
      get() {
        return this.$store.state["community.map"].borough;
      },
      set(borough) {
        this.$store.commit("community.map/borough", borough);
      },
    },
    boroughs() {
      return this.$store.state.stats.data.communities.filter((c) => c.type === "borough");
    },
    boroughPolygons() {
      return this.boroughs
        .filter((b) => b.area.coordinates)
        .map((community) => ({ community, paths: extractMultipolygonPaths(community.area) }));
    },
    communities() {
      return this.$store.state.stats.data.communities.filter((c) => c.type !== "private");
    },
    google: gmapApi,
  },
  methods: {
    centerOnCommunity(community) {
      const { LatLngBounds } = this.google.maps;
      const bounds = new LatLngBounds();

      extractMultipolygonPoints(community.area).forEach((p) => bounds.extend(p));

      this.$refs.map.fitBounds(bounds);
    },
    resetCenter() {
      const { LatLngBounds } = this.google.maps;
      const bounds = new LatLngBounds();

      this.communities.forEach((c) => bounds.extend(c.center_google));
      this.$refs.map.fitBounds(bounds);
    },
    resetView() {
      this.borough = null;
    },
    setCommunity(c) {
      this.borough = c;
    },
  },
  watch: {
    routeDataLoaded(loaded) {
      if (loaded) {
        setTimeout(() => {
          this.$refs.map.$mapPromise.then(() => {
            this.resetCenter();
          });
        }, 500);
      }
    },
    borough(value) {
      this.resetCenter();
      if (!value) {
        return;
      }

      return this.centerOnCommunity(value);
    },
  },
};
</script>

<style lang="scss">
@import "~bootstrap/scss/mixins/breakpoints";

.community-overview {
  &__map {
    width: 100vw;
    height: calc(100vh - #{$layout-navbar-height} - 1px);
    z-index: 10;
  }

  &__borough.card {
    margin-top: 50px;
    margin-left: 30px;
    position: absolute;
    z-index: 100;
    max-width: 500px;

    @include media-breakpoint-down(lg) {
      margin: 5%;
      min-width: 90%;
    }

    .card-header,
    .card-title {
      font-weight: bold;
      margin: 0;
    }

    .card-text {
      display: flex;
      flex-direction: column;

      .community-overview__description {
        flex-grow: 1;
        max-height: 120px;
        margin: 0;
      }
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    &.visible {
      opacity: 1;
      pointer-events: normal;
    }
  }
}
</style>
