<template>
  <div class="profile-communities" v-if="itemLoaded && routeDataLoaded">
    <div class="profile-communities__communities" v-if="item.communities.length > 0">
      <b-card class="profile-communities__communities__community">
        <div class="profile-communities__headers">
          <h4>Afin que LocoMotion reste un service sécuritaire entre voisin-e-s,</h4>
          <h3>
            Veuillez téléverser une preuve de résidence pour
            {{ item.communities.map((c) => c.name).join(", ") }}
          </h3>
        </div>

        <b-card-body class="profile-communities__community_proof">
          <user-proof-form @submit="submit" :loading="loading" />
        </b-card-body>
      </b-card>
    </div>

    <b-card class="profile-communities__nocommunities" v-else>
      <div>
        <h3>Vous n'êtes pas encore inscrit au sein d'un quartier soutenu par LocoMotion.</h3>
      </div>
      <b-card-body>
        <p>
          Il se peut que LocoMotion ne soit pas encore ouvert dans votre quartier ou que votre
          adresse n'est pas à jour.
        </p>
        <b-button variant="primary" to="/profile/locomotion"> Modifier mon adresse </b-button>
      </b-card-body>
    </b-card>
  </div>
  <layout-loading v-else />
</template>

<script>
import UserProofForm from "@/components/User/ProofForm.vue";

import DataRouteGuards from "@/mixins/DataRouteGuards";
import FormMixin from "@/mixins/FormMixin";
import LayoutLoading from "@/components/Layout/Loading.vue";

export default {
  name: "ProfileCommunities",
  mixins: [DataRouteGuards, FormMixin],
  components: { LayoutLoading, UserProofForm },
  props: {
    id: {
      type: String,
      required: false,
      default: "me",
    },
  },
  data() {
    return {
      savingToast: {
        content: "Un membre de notre équipe va vérifier vos preuves et valider votre profil.",
        title: "Preuve d'adresse mise à jour!",
        variant: "success",
      },
    };
  },
  methods: {
    afterSubmit() {
      this.$router.push("/app");
    },
  },
};
</script>

<style lang="scss">
.profile-communities {
  &__headers {
    padding-left: 15px;
    h4 {
      color: grey;
      font-size: 16px;
    }
  }
  &__communities__community {
    margin-bottom: 20px;
  }
  &__nocommunities {
    .btn {
      margin-left: 0;
    }
  }
}
</style>
