<template>
  <paginated-table
    endpoint="invoices"
    :field-defs="fields"
    :fetch-params="{ 'user.id': 'me' }"
    @row-selected="showInvoice"
    selectable
    initial-sort-by="created_at"
    :initial-sort-desc="true"
    :show-generate-csv="false"
    :show-action-column="false"
    :show-column-selection="false"
  >
    <template #cell(paid_at)="{ item }">
      {{ item.paid_at ? "✓" : "✗" }}
    </template>
  </paginated-table>
</template>

<script>
import Authenticated from "@/mixins/Authenticated";
import UserMixin from "@/mixins/UserMixin";

import locales from "@/locales";
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";

export default {
  name: "ProfileInvoices",
  components: { PaginatedTable },
  mixins: [Authenticated, UserMixin],
  data() {
    return {
      fields: [
        new FieldDef("id", "ID", "id", { show: false, filter: false }),
        new FieldDef("created_at", "Date", "date"),
        new FieldDef("paid_at", "Payée", "text", { filter: false }),
        new FieldDef("total", "Total", "currency"),
        new FieldDef("total_with_taxes", "Total avec taxes", "currency"),
      ],
    };
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.invoices,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.invoices,
        ...locales.fr.forms,
      },
    },
  },
  methods: {
    showInvoice(row) {
      this.$router.push(`/profile/invoices/${row[0].id}`);
    },
  },
};
</script>

<style lang="scss">
.profile-invoices__invoices__invoice {
  margin-bottom: 20px;
}
</style>
