<template>
  <div>
    <b-tabs pills content-class="mt-3" @input="onTabChange">
      <b-tab title="Mes véhicules">
        <div class="profile-loanables">
          <div>
            <b-row>
              <b-col>
                <b-btn class="mb-3" variant="outline-success" :to="`/profile/loanables/new`">
                  <b-icon icon="plus" />
                  {{ $t("ajouter un véhicule") | capitalize }}
                </b-btn>
              </b-col>
            </b-row>
            <paginated-list
              endpoint="/loanables"
              :fetch-params="{
                order: 'name',
                fields: 'id,name,type,image.*,owner.user.id',
                'owner.user.id': 'me',
              }"
              label="véhicule"
              ref="myLoanableList"
            >
              <template #item="item">
                <loanable-info-box
                  class="profile-loanables__loanables__loanable"
                  v-model="item"
                  :loanable="item"
                  :user="user"
                  @disabled="() => $refs.myLoanableList.loadListData(1)"
                />
              </template>
            </paginated-list>
          </div>
        </div>
      </b-tab>
      <b-tab title="Véhicules gérés">
        <paginated-list
          v-if="hasLoadedSecondTab"
          endpoint="/loanables"
          :fetch-params="{
            order: 'name',
            fields: 'id,name,type,image.*,coowners.user.id',
            'coowners.user.id': 'me',
          }"
          label="véhicule"
          ref="coownedLoanableList"
        >
          <template #item="item">
            <loanable-info-box
              class="profile-loanables__loanables__loanable"
              v-model="item"
              :loanable="item"
              :user="user"
              @disabled="() => $refs.coownedLoanableList.loadListData(1)"
            />
          </template>
        </paginated-list>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import LoanableInfoBox from "@/components/Loanable/InfoBox.vue";

import Authenticated from "@/mixins/Authenticated";

import { extractErrors } from "@/helpers";
import locales from "@/locales";
import PaginatedList from "@/components/shared/PaginatedList.vue";

export default {
  name: "ProfileLoanables",
  mixins: [Authenticated],
  components: { PaginatedList, LoanableInfoBox },
  i18n: {
    messages: {
      en: {
        ...locales.en.loanables,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.loanables,
        ...locales.fr.forms,
      },
    },
  },
  data() {
    return {
      hasLoadedSecondTab: false,
    };
  },
  methods: {
    onTabChange(tab) {
      if (tab === 1) {
        this.hasLoadedSecondTab = true;
      }
    },
  },
};
</script>

<style lang="scss">
.profile-loanables__loanables__loanable {
  margin-bottom: 20px;
}
</style>
