<template>
  <b-container class="profile-loanable" fluid v-if="user.owner && itemLoaded && routeDataLoaded">
    <vue-headful :title="fullTitle" />

    <b-row>
      <b-col>
        <h1 v-if="item.name">{{ item.name }}</h1>
        <h1 v-else>
          <em>{{ $t("new") | capitalize }} {{ $tc("loanable", 1) }}</em>
        </h1>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <loanable-form
          :loanable="item"
          :form="form"
          :loading="loading"
          @submit="submitLoanable"
          :show-reset="!!item.id"
          :changed="changed"
          @reset="reset"
          :center="center"
        />
      </b-col>
    </b-row>
  </b-container>
  <layout-loading v-else />
</template>

<script>
import LoanableForm from "@/components/Loanable/LoanableForm.vue";

import Authenticated from "@/mixins/Authenticated";
import DataRouteGuards from "@/mixins/DataRouteGuards";
import FormMixin from "@/mixins/FormMixin";
import UserMixin from "@/mixins/UserMixin";

import locales from "@/locales";

import { capitalize } from "@/helpers/filters";
import { extractErrors } from "@/helpers";

export default {
  name: "ProfileLoanable",
  mixins: [Authenticated, DataRouteGuards, FormMixin, UserMixin],
  components: {
    LoanableForm,
  },
  data() {
    return {
      ignoreFields: ["owner", "owner_id", "coowners"],
    };
  },
  mounted() {
    if (!this.user.owner) {
      this.createOwnerProfile();
    }
  },
  computed: {
    communityCenter() {
      // owner can be undefined for a new loanable
      return this.item.owner?.user?.communities[0]?.center;
    },
    center() {
      return this.communityCenter || this.defaultCenter;
    },
    fullTitle() {
      const parts = [
        "LocoMotion",
        capitalize(this.$i18n.t("titles.profile")),
        capitalize(this.$i18n.tc("loanable", 2)),
      ];

      if (this.pageTitle) {
        parts.push(this.pageTitle);
      }

      return parts.reverse().join(" | ");
    },
    defaultCenter() {
      return { lat: 45.53748, lng: -73.60145 };
    },
    pageTitle() {
      return this.item.name || capitalize(this.$i18n.tc("loanable", 1));
    },

    savingToast() {
      if (!this.item.id) {
        return {
          content:
            "Votre véhicule a bien été créé. Veuillez maintenant ajouter des disponibilités dans la section du bas.",
          title: "Véhicule créé",
          variant: "success",
        };
      }

      return {
        content: "Le véhicule a été enregistré avec succès.",
        title: "Véhicule enregistré",
        variant: "success",
      };
    },
  },
  methods: {
    async submitLoanable() {
      const isNew = !this.item.id;

      if (isNew) {
        await this.$store.commit("loanables/mergeItem", { owner: { id: this.user.owner.id } });
      }

      // Unset owner, since only admins can change it and coowners since it is modified directly.
      await this.submit(true);
    },
    async createOwnerProfile() {
      try {
        await this.$store.dispatch("users/update", {
          id: this.user.id,
          data: {
            id: this.user.id,
            owner: {},
          },
          params: {},
        });
        await this.$store.dispatch("loadUser");
      } catch (e) {
        if (e.request?.status !== 422) {
          throw e;
        }
      }
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loanables,
        ...locales.en.forms,
        profile: { ...locales.en.profile },
        titles: { ...locales.en.titles },
      },
      fr: {
        ...locales.fr.loanables,
        ...locales.fr.forms,
        profile: { ...locales.fr.profile },
        titles: { ...locales.fr.titles },
      },
    },
  },
};
</script>

<style lang="scss"></style>
