<template>
  <div>
    <div>
      <b-row class="align-items-center mb-3">
        <b-col cols="12" lg
          ><slot name="head">
            <h2>{{ label | capitalize }}</h2>
          </slot>
        </b-col>
        <b-col cols="auto">
          <slot name="head-buttons"> </slot>

          <b-button
            v-if="showColumnSelection"
            class="ml-1"
            variant="outline-secondary"
            v-b-modal="`column-modal-${id}`"
            ><b-icon icon="layout-three-columns" />
          </b-button>

          <b-button
            v-if="hasFilters"
            class="ml-1 toggle-filters-button"
            variant="outline-secondary"
            @click="toggleFilters"
            :pressed="showFilters"
          >
            Filtres <b-icon icon="filter" />
          </b-button>
        </b-col>
      </b-row>

      <div v-if="showFilters">
        <b-row>
          <b-col cols="3" v-for="filter of onlyFilters">
            <b-form-group label-size="sm" :label="filter.label" :key="filter.key">
              <filter-input v-model="filters[filter.key]" :type="filter.type" :name="filter.key" />
            </b-form-group>
          </b-col>
        </b-row>
      </div>
    </div>

    <b-modal :id="`column-modal-${id}`" title="Colonnes visibles" ok-only>
      <b-checkbox-group
        v-model="columnsToShow"
        :options="columnsOptions"
        switches
        stacked
      ></b-checkbox-group>
    </b-modal>

    <b-table
      v-if="showTable"
      ref="table"
      class="paginated-table"
      :primary-key="primaryKey"
      responsive
      outlined
      :hover="selectable"
      no-local-sorting
      :api-url="endpoint"
      :fields="displayFields"
      :items="provideItems"
      :show-empty="true"
      empty-filtered-text="Aucun résultat"
      empty-text="Aucun résultat"
      :current-page="currentPage"
      :per-page="itemsPerPage"
      :filter="filters"
      v-bind="$attrs"
      :selectable="selectable"
      @row-selected="rowSelected"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      @sort-changed="currentPage = 1"
      sort-icon-left
      label-sort-asc=""
      label-sort-desc=""
      label-sort-clear=""
    >
      <template v-for="field in displayFields" v-slot:[field.head]="data">
        <div class="header-wrapper">
          <div class="header-label">
            <b-form-checkbox
              v-if="selectable && field.key === 'id'"
              size="sm"
              class="mr-0 d-inline-block"
              @input="toggleSelection"
              :indeterminate="selectedCount > 0 && itemCount !== selectedCount"
              :checked="itemCount > 0 && itemCount === selectedCount"
            />
            {{ data.label }}
          </div>
          <div class="mt-2" v-if="showFilters && hasFilters && field.filter">
            <slot
              :name="field.filtertemplate"
              :filters="filters"
              v-if="showFilters && hasFilters && field.filter"
            >
              <filter-input
                :class="field.class"
                v-model="filters[getFilterKey(field)]"
                :type="field.type"
                :name="field.key"
              />
            </slot>
          </div>
        </div>
      </template>
      <template v-for="field in displayFields" v-slot:[field.cell]="rowData">
        <slot :name="field.cell" v-bind="rowData">
          <template v-if="field.key === 'actions'">
            <div class="text-right">
              <admin-list-actions
                :slug="endpoint"
                :item-name="`ce ${label}`"
                :item="rowData.item"
                :show-destroy="false"
                :show-restore="false"
              />
            </div>
          </template>
          <template v-else>
            <router-link v-if="isUrlValid(field, rowData.item)" :to="field.urlFct(rowData.item)">
              {{ rowData.value }}
            </router-link>
            <template v-else-if="rowData.value">
              {{ rowData.value }}
            </template>
          </template>
        </slot>
      </template>
      <template #row-details="row">
        <slot name="row-details" v-bind="row" />
      </template>
    </b-table>

    <b-row>
      <b-col md="6" v-if="showExportButton">
        <b-button class="mr-3 generate-csv-button" variant="outline-primary" @click="exportCSV">
          Générer (CSV)
        </b-button>
        <a :href="exportUrl" target="_blank" v-if="exportUrl"> Télécharger (CSV) </a>
      </b-col>
      <b-col md="6" v-if="total > 10" :offset-md="showExportButton ? 0 : 6">
        <admin-pagination
          class="justify-content-end"
          :page="currentPage"
          :perPage="itemsPerPage"
          @update:perPage="itemsPerPage = $event"
          @update:page="currentPage = $event"
          :total="total"
        />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import filterInput from "@/components/shared/FilterInput.vue";
import router from "@/router";
import AdminListActions from "@/components/Admin/ListActions.vue";
import { capitalize, currency, datetime } from "@/helpers/filters";
import Vue from "vue";
import AdminPagination from "@/components/Admin/Pagination.vue";

export class FieldDef {
  /** @typedef {('text'|'id'|'boolean'|'number'|'currency'|'date'|{value: string, label:string}[])} FieldType */
  key;
  label;
  /** @type {FieldType} */
  type;
  // Whether it can be displayed at all. In the column selection, they will be grayed out.
  showable = true;
  // DataOnly fields are additional data that we might need for interactions (e.g. user.avatar).
  // These won't appear in the column selection.
  dataOnly = false;
  // Whether it should be shown by default
  show = true;
  data = true;
  filter = true;
  sortable = true;
  /** @type {function(*):string} */
  urlFct;
  filterKey;

  /**
   * @param {string} key
   * @param {string} label
   * @param {FieldType} type
   * @param {{ show?: boolean, data?:boolean, sortable?:boolean, filter?: boolean, urlFct?: function(*):string, formatter?: function(*):string, class?:string}?} options
   */
  constructor(key, label, type = "text", options = undefined) {
    this.key = key;
    this.label = label;
    this.type = type;
    if (options) {
      // Sets all the options entries on this.
      Object.assign(this, options);
    }
    if (!this.showable) {
      this.show = false;
    }
  }

  static dataOnly(key) {
    return new FieldDef(key, key, null, {
      show: false,
      sortable: false,
      filter: false,
      showable: false,
      dataOnly: true,
    });
  }
}

let uid = 0;

export default {
  name: "PaginatedTable",
  components: { AdminPagination, AdminListActions, filterInput },
  data() {
    const filters = this.syncFiltersWithUrl ? this.getFiltersFromUrl() : this.initialFilters;
    const showFilters = Object.keys(filters).length > 0;
    uid += 1;

    return {
      observer: null,
      total: 0,
      currentPage: 1,
      allSelected: false,
      selectedCount: 0,
      filters,
      showFilters,
      itemCount: 0,
      sortBy: this.initialSortBy,
      sortDesc: this.initialSortDesc,
      showTable: false,
      itemsPerPage: 10,
      columnsToShow: this.fieldDefs.filter((f) => f.show).map((f) => f.key),
      id: uid.toString(),
    };
  },
  props: {
    fieldDefs: {
      type: Array[FieldDef],
      required: true,
    },
    selectable: { type: Boolean, default: false },
    label: {},
    endpoint: {
      type: String,
      required: true,
    },
    fetchParams: {
      type: Object,
      default: () => ({}),
    },
    initialFilters: {
      type: Object,
      default: () => ({}),
    },
    syncFiltersWithUrl: {
      type: Boolean,
      default: false,
    },
    showGenerateCsv: {
      type: Boolean,
      default: true,
    },
    initialSortBy: {
      type: String,
      default: "id",
    },
    initialSortDesc: {
      type: Boolean,
      default: true,
    },
    showActionColumn: {
      type: Boolean,
      default: true,
    },
    showColumnSelection: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    columnsOptions() {
      return this.fieldDefs
        .filter((f) => !f.dataOnly)
        .map((f) => ({
          text: f.label,
          value: f.key,
          disabled: !f.showable,
        }));
    },
    displayFields() {
      const fields = this.fieldDefs.filter(this.showField).map((field) => {
        field.cell = `cell(${field.key})`;
        field.head = `head(${field.key})`;
        if (field.filter) {
          // this slot name has to be lowercased per the documentation at
          // https://vuejs.org/guide/essentials/template-syntax.html#dynamic-argument-syntax-constraints
          field.filtertemplate = `filter(${field.key})`;
        }

        if (field.type === "id" || field.type === "currency") {
          field.class = "tabular-nums text-right";
          if (field.type === "currency" && !field.formatter) {
            field.formatter = currency;
          }
        } else if (field.type === "date" && !field.formatter) {
          field.formatter = datetime;
        } else if (Array.isArray(field.type) && !field.formatter) {
          // we're dealing with a select
          field.formatter = (value) => {
            if (value === null) {
              return "";
            }

            const option = field.type.filter((f) => f.value === value);
            if (option.length !== 1) {
              return "";
            }
            return capitalize(option[0].label);
          };
        }

        return field;
      });

      if (this.showActionColumn) {
        fields.push({
          key: "actions",
          label: "Actions",
          tdClass: "table__cell__actions",
          cell: "cell(actions)",
        });
      }

      return fields;
    },
    primaryKey() {
      const idFields = this.fieldDefs.filter((f) => f.type === "id");
      if (idFields.length >= 1) {
        return idFields[0].key;
      }

      return this.displayFields[0].key;
    },
    hasFilters() {
      return this.filterFields.length > 0;
    },
    fetchFields() {
      return this.fieldDefs
        .filter((f) => f.data)
        .map((f) => f.key)
        .join(",");
    },
    filterFields() {
      return this.fieldDefs.filter((f) => !!f.filter);
    },
    onlyFilters() {
      return this.filterFields.filter((f) => !this.showField(f));
    },
    combinedParams() {
      const params = {
        ...this.fetchParams,
        fields: this.fetchFields,
        per_page: this.itemsPerPage,
        page: this.currentPage,
        ...this.filters,
      };
      if (this.sortBy) {
        params.order = (this.sortDesc ? "-" : "") + this.sortBy;
      }
      return params;
    },
    showExportButton() {
      return this.showGenerateCsv && this.$store.state.user.role === "admin";
    },
    exportUrl() {
      return this.$store.state[this.endpoint]?.exportUrl;
    },
  },
  watch: {
    filters: {
      handler: function () {
        this.currentPage = 1;
        if (this.syncFiltersWithUrl) {
          const setFilters = {};
          Object.keys(this.filters)
            .filter((key) => this.filters[key] !== undefined && this.filters[key] !== null)
            .forEach((k) => (setFilters[k] = this.filters[k]));
          if (JSON.stringify(router.currentRoute.query) !== JSON.stringify(setFilters)) {
            router.replace({ query: setFilters });
          }
        }
      },
      deep: true,
    },
  },
  methods: {
    showField(field) {
      return new Set(this.columnsToShow).has(field.key);
    },
    // to set filters programatically
    setFilters(filters) {
      this.filters = filters;
      this.showFilters = true;
    },
    toggleFilters() {
      this.showFilters = !this.showFilters;
      if (!this.showFilters) {
        this.filters = {};
      }
    },
    getFiltersFromUrl() {
      const filters = {};

      const query = router.currentRoute.query;
      //Get route params,
      for (const filterableField of this.fieldDefs.filter((f) => f.filter)) {
        const key = this.getFilterKey(filterableField);
        if (key in query) {
          filters[key] = query[key];
        }
      }

      return filters;
    },
    getFilterKey(fieldDef) {
      return fieldDef.filterKey ? fieldDef.filterKey : fieldDef.key;
    },
    refresh(reset = false) {
      if (!reset) {
        this.$refs.table.refresh();
        return;
      }
      if (this.currentPage === 1 && Object.keys(this.filters).length === 0) {
        this.$refs.table.refresh();
        return;
      }
      // changes in pagination or filter will trigger a refresh internally on the b-table
      this.currentPage = 1;
      this.filters = {};
      this.showFilters = false;
    },
    rowSelected(event) {
      this.selectedCount = event.length;
      this.$emit("row-selected", event);
    },
    toggleSelection(val) {
      if (val === true) {
        this.$refs.table.selectAllRows();
      } else if (val === false) {
        this.$refs.table.clearSelected();
      }
    },
    clearExportUrl() {
      if (this.exportUrl) {
        this.$store.commit(`${this.endpoint}/exportUrl`, null);
      }
    },
    async provideItems() {
      try {
        const {
          data: { data, total },
        } = await Vue.axios.get(this.endpoint, { params: this.combinedParams });
        this.itemCount = data.length;
        this.total = total;
        this.clearExportUrl();
        return data;
      } catch (e) {
        this.$store.commit("addNotification", {
          content: "Erreur de chargement de données",
          title: capitalize(this.label) || this.endpoint,
          variant: "warning",
          type: "data",
        });
        return [];
      }
    },
    // Do this outside of the store?!
    async exportCSV() {
      await this.$store.dispatch(`${this.endpoint}/export`, this.combinedParams);
    },
    isUrlValid(field, item) {
      if (!field || !field.urlFct) {
        return false;
      }

      try {
        return !!field.urlFct(item);
      } catch (e) {
        return false;
      }
    },
    unobserve() {
      this.observer.unobserve(this.$el);
    },
  },
  mounted() {
    this.observer = new IntersectionObserver(
      (entries) => {
        if (entries[0].isIntersecting) {
          this.showTable = true;
          this.unobserve();
        }
      },
      { rootMargin: "200px" }
    );
    this.observer.observe(this.$el);
  },
  beforeDestroy() {
    if (this.observer) {
      this.unobserve();
      this.observer = null;
    }
  },
};
</script>

<style lang="scss">
.paginated-table {
  background: $eggshell;
  .table {
    thead {
      th {
        border-bottom: 1px solid #dee2e6;
        font-size: 0.85rem;
        background-color: $background-alert-informative;
        color: $content-neutral-secondary;
        padding: 0.75rem 0.5rem;
      }
    }

    th,
    td {
      height: 1px;
      padding: 0.4rem;
      font-size: 0.9rem;
      font-weight: 600;
      color: $dark;
    }

    .header-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    td {
      vertical-align: middle;
    }

    th {
      vertical-align: top;
    }

    // Move order toggles to right when text is right aligned.
    th {
      padding-right: 0.2rem !important;
      padding-left: 0.2rem !important;
      background-position: left calc(0.75rem / 2) top 0.8rem !important;
    }
    th.b-table-sort-icon-left .header-label {
      padding-left: 1rem;
    }
    th.b-table-sort-icon-left.text-right {
      background-position: right calc(0.75rem / 2) top 0.8rem !important;
    }
    th.b-table-sort-icon-left.text-right .header-label {
      padding-right: 1rem;
      padding-left: 0;
    }
  }
}
</style>
