<template>
  <div class="borrower-form">
    <validation-observer ref="observer" v-slot="{ passes }">
      <b-form :novalidate="true" class="borrower-form__form" @submit.stop.prevent="passes(submit)">
        <b-row>
          <b-col>
            <forms-validated-input
              name="drivers_license_number"
              type="text"
              :disabled="disabled"
              :label="$t('fields.drivers_license_number') | capitalize"
              :placeholder="placeholderOrLabel('drivers_license_number') | capitalize"
              v-model="borrower.drivers_license_number"
            />
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <forms-validated-input
              name="has_not_been_sued_last_ten_years"
              type="checkbox"
              :disabled="disabled"
              label="Je confirme n'avoir reçu aucune poursuite au cours des 10 dernières années"
              v-model="hasNotBeenSuedLastTenYears"
            />
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <forms-files-uploader
              field="saaq"
              :disabled="disabled"
              :label="$t('fields.saaq') | capitalize"
              v-model="borrower.saaq"
            />
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <forms-files-uploader
              field="gaa"
              :disabled="disabled"
              :label="$t('fields.gaa') | capitalize"
              v-model="borrower.gaa"
            />
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <div>
              <p>Vous ne les avez pas sous la main ? Pas de soucis.</p>

              <ul>
                <li>
                  <a :href="saaqUrl" target="_blank">
                    Pour commander votre dossier de conduite SAAQ
                  </a>
                </li>
                <li>
                  <a :href="gaaUrl" target="_blank">
                    Pour commander votre rapport de sinistre GAA
                  </a>
                </li>
              </ul>
            </div>
          </b-col>
        </b-row>

        <b-button variant="primary" type="submit" :disabled="!changed || !isComplete || loading">
          {{ $t("Soumettre") | capitalize }}
        </b-button>
        &nbsp;
        <b-button
          v-if="!borrower.submitted_at"
          variant="link"
          type="submit"
          :disabled="!changed || loading"
        >
          {{ $t("save") | capitalize }} sans soumettre
        </b-button>
        <layout-loading with-button v-if="loading" />
      </b-form>
    </validation-observer>
  </div>
</template>

<script>
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import FormsFilesUploader from "@/components/Forms/FilesUploader.vue";

import FormLabelsMixin from "@/mixins/FormLabelsMixin";

import locales from "@/locales";
import LayoutLoading from "@/components/Layout/Loading.vue";

export default {
  name: "BorrowerForm",
  mixins: [FormLabelsMixin],
  components: {
    LayoutLoading,
    FormsValidatedInput,
    FormsFilesUploader,
  },
  props: {
    borrower: {
      type: Object,
      required: true,
    },
    changed: {
      type: Boolean,
      required: false,
      default: false,
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    loading: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      gaaUrl: "https://mondossier.gaa.qc.ca/fr/DemandeWeb/DemandeReleve/",
      saaqUrl: "https://services.saaq.gouv.qc.ca/FonctionsWeb/EtatDossierConduite.Web/",
    };
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.borrowers,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.borrowers,
        ...locales.fr.forms,
      },
    },
  },
  methods: {
    submit(...params) {
      if (this.isComplete) {
        this.$emit("submit");
      } else {
        this.$emit("save", ...params);
      }
    },
  },
  computed: {
    isComplete() {
      return (
        this.borrower.drivers_license_number &&
        this.borrower.has_not_been_sued_last_ten_years &&
        this.borrower.gaa?.length > 0 &&
        this.borrower.saaq?.length > 0
      );
    },
    hasNotBeenSuedLastTenYears: {
      get() {
        return this.borrower.has_not_been_sued_last_ten_years;
      },
      set(val) {
        this.borrower.has_not_been_sued_last_ten_years = val;
      },
    },
  },
};
</script>

<style lang="scss"></style>
