<template>
  <paginated-table
    ref="table"
    endpoint="communityUsers"
    :sync-filters-with-url="syncFiltersWithUrl"
    :field-defs="fields"
    @row-selected="$emit('row-selected', $event)"
    v-bind="$attrs"
  >
    <template #head><slot name="head"></slot></template>
    <template #head-buttons><slot name="head-buttons"></slot></template>

    <template v-slot:cell(role)="row">
      <b-select
        :options="[
          { value: null, text: $t('communities.fields.user.role_labels.member') },
          { value: 'admin', text: $t('communities.fields.user.role_labels.admin') },
        ]"
        :value="row.item.role"
        @change="changeUserRole(row.item, $event)"
      />
    </template>
    <template #row-details="{ item }">
      <div class="mx-3 mb-3">
        <b-row>
          <b-col lg="6">
            <dl>
              <dt>Description</dt>
              <dd>
                {{ item.user.description }}
              </dd>
              <dt>Adresse</dt>
              <dd>
                {{ item.user.address }}
              </dd>
              <dt>Peuve(s)</dt>
              <dd>
                <ul>
                  <li v-for="proof in item.user.proof">
                    <a target="_blank" :href="proof.url">
                      {{ proof.original_filename }}
                    </a>
                  </li>
                </ul>
              </dd>
            </dl>
            <div>
              <b-button
                v-if="!item.user.is_proof_invalid"
                size="sm"
                variant="outline-secondary"
                @click="() => makeProofInvalid(item.user)"
                v-b-tooltip="
                  'Cette action n\'envoie aucun courriel au participant. Assurez-vous d\'envoyer un courriel manuellement à l\'utilisateur avec la raison du refus.'
                "
              >
                Marquer comme insuffisante
              </b-button>
            </div>
          </b-col>
          <b-col lg="6">
            <dl>
              <dt>Photo</dt>
              <dd v-if="item.user.avatar">
                <img :src="item.user.avatar.url" class="w-100" />
              </dd>
              <dd v-else>Aucune photo.</dd>
            </dl>
          </b-col>
        </b-row>
      </div>
    </template>

    <template v-slot:cell(user.proof)="row">
      <span
        v-if="row.item.user.proof && row.item.user.proof.length > 0"
        class="admin-community__users__table__proof"
      >
        <b-button
          size="sm"
          variant="outline-secondary"
          @click="row.toggleDetails"
          :pressed.sync="row.detailsShowing"
        >
          Preuves
        </b-button>
      </span>
      <span v-else></span>
    </template>

    <template v-slot:cell(actions)="{ item }">
      <div class="d-flex align-items-center">
        <b-button
          v-if="!item.approved_at && !item.suspended_at"
          size="sm"
          variant="primary"
          @click="approveUser(item)"
        >
          {{ $t("communities.fields.user.action_labels.approve") | capitalize }}
        </b-button>
        <b-button
          v-if="item.approved_at && !item.suspended_at"
          size="sm"
          variant="warning"
          @click="suspendUser(item)"
        >
          {{ $t("communities.fields.user.action_labels.suspend") | capitalize }}
        </b-button>
        <b-button v-if="item.suspended_at" size="sm" variant="success" @click="unsuspendUser(item)">
          {{ $t("communities.fields.user.action_labels.unsuspend") | capitalize }}
        </b-button>
        <b-button size="sm" variant="danger" @click="removeUser(item)">
          {{ $t("communities.fields.user.action_labels.remove") | capitalize }}
        </b-button>
      </div>
    </template>
  </paginated-table>
</template>

<script>
import PaginatedTable, { FieldDef } from "@/components/shared/PaginatedTable.vue";
import Vue from "vue";
import { canSeeDeletedUser } from "@/helpers/permissions/users";

export default {
  name: "CommunityUsersList",
  components: { PaginatedTable },
  props: {
    hideFields: {
      type: Array,
      required: false,
      default: () => [],
    },
    syncFiltersWithUrl: {
      type: Boolean,
      default: true,
    },
    userId: {
      type: Number,
      default: null,
    },
    communityId: {
      type: Number,
      default: null,
    },
    fieldDefs: {
      type: Array,
      required: false,
      default: function () {
        const user = this.$store.state.user;
        return [
          new FieldDef("id", this.$t("lists.id"), "id", { filter: false, show: false }),
          new FieldDef("user.id", "ID (utilisateur)", "id", { show: false }),
          new FieldDef(
            "user.full_name",
            this.$t("communities.fields.user.name"),
            {
              relation: "users",
              label: "full_name",
              field: "id",
              params: this.communityId
                ? {
                    "communities.id": this.communityId,
                    for: "edit",
                    with_deleted: canSeeDeletedUser(user),
                  }
                : { for: "edit", with_deleted: canSeeDeletedUser(user) },
            },
            {
              filterKey: "user.id",
              urlFct: (item) =>
                `/admin/users/${item.user.id}?community.id=${item.community.id}#communities`,
            }
          ),
          new FieldDef("community.id", "ID (communauté)", "id", { show: false }),
          new FieldDef(
            "community.name",
            this.$t("communities.fields.community.name"),
            {
              relation: "communities",
              label: "name",
              field: "id",
              params: this.userId ? { "users.id": this.userId, for: "edit" } : { for: "edit" },
            },
            {
              filterKey: "community.id",
              urlFct: (item) =>
                `/admin/communities/${item.community.id}?user.id=${item.user.id}#members`,
            }
          ),
          new FieldDef("user.email", "Courriel", "text", { show: false }),
          new FieldDef("updated_at", "Dernière mise à jour", "date"),
          new FieldDef("user.address", "Adresse", "text", { show: false }),
          new FieldDef("role", this.$t("communities.fields.user.role"), [
            { value: null, label: "tous" },
            { value: "admin", label: "admin" },
          ]),
          new FieldDef("approved_at", this.$t("communities.fields.user.approved_at"), "date"),
          new FieldDef("suspended_at", this.$t("communities.fields.user.suspended_at"), "date"),
          new FieldDef(
            "user.proof",
            this.$t("communities.fields.user.proof"),
            [
              { value: null, label: "tous" },
              { value: true, label: "Avec preuve" },
              { value: false, label: "Sans preuves" },
            ],
            { sortable: false, filterKey: "user.hasProof" }
          ),
          new FieldDef(
            "user.is_proof_invalid",
            "Preuves insuffisantes?",
            [
              { value: null, label: "tous" },
              { value: true, label: "Oui" },
              { value: false, label: "Non" },
            ],
            { sortable: false }
          ),
          FieldDef.dataOnly("user.avatar.url"),
          FieldDef.dataOnly("user.description"),
        ];
      },
    },
  },
  methods: {
    async updateUser(communityUser, newParams) {
      await Vue.axios.put(`communityUsers/${communityUser.id}`, { ...communityUser, ...newParams });
      Object.assign(communityUser, newParams);
    },
    async changeUserRole(communityUser, role) {
      await this.updateUser(communityUser, { role });
    },
    async approveUser(communityUser) {
      await this.updateUser(communityUser, { approved_at: new Date() });
    },
    async suspendUser(communityUser) {
      await this.updateUser(communityUser, { suspended_at: new Date() });
    },
    async unsuspendUser(communityUser) {
      await this.updateUser(communityUser, { suspended_at: null });
    },
    async makeProofInvalid(user) {
      await Vue.axios.put(`users/${user.id}`, { is_proof_invalid: true });
      this.refresh();
    },
    async removeUser(communityUser) {
      await this.$store.dispatch(`communities/removeUser`, {
        id: communityUser.community.id,
        userId: communityUser.user.id,
      });
      this.refresh();
    },
    refresh() {
      this.$refs.table.refresh();
    },
    setFilters(filters) {
      this.$refs.table.setFilters(filters);
    },
  },
  computed: {
    fields() {
      return this.fieldDefs.map((f) => {
        if (this.hideFields.includes(f.key)) {
          f.show = false;
          f.filter = false;
        }
        return f;
      });
    },
  },
};
</script>

<style lang="scss"></style>
