<template>
  <div class="availability-rules">
    <b-row>
      <b-col>
        <b-overlay :show="loading" variant="white/">
          <loanable-calendar
            defaultView="month"
            :events="events"
            @ready="calendarChanged"
            @view-change="calendarChanged"
          ></loanable-calendar>
        </b-overlay>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <loanable-calendar-legend />
      </b-col>
    </b-row>

    <b-row class="availability-rules__description">
      <b-col>
        <div class="form-inline availability-rules__description__default">
          <b-form-group label="Par défaut:" label-for="availability_mode" inline>
            <b-select
              :disabled="disabled"
              v-model="loanable.availability_mode"
              @change="exceptions = []"
              id="availability_mode"
              name="availability_mode"
            >
              <option value="never" selected>Toujours indisponible</option>
              <option value="always" selected>Toujours disponible</option>
            </b-select>
          </b-form-group>
        </div>

        <b-row>
          <b-col>
            <p>Sauf&nbsp;:</p>
            <loanable-exceptions
              :disabled="disabled"
              :mode="loanable.availability_mode"
              :exceptions="exceptions"
              @input="exceptions = $event"
            />
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <a v-if="!disabled" href="#" @click.prevent="addException">+ Ajouter une exception</a>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-row v-if="unavailableLoans.length > 0">
      <b-col>
        <b-alert show variant="warning" class="mt-4">
          <h4 class="alert-heading">Emprunts durant des périodes d'indisponibilité</h4>

          Des emprunts existent dans des périodes d'indisponibilité du véhicule. Avez-vous besoin
          d'ajuster les disponibilités ou d'avertir les emprunteurs et annuler les emprunts?

          <div v-for="loan in unavailableLoans" class="mt-3">
            <loan-info-box
              :key="loan.id"
              :loan="loan"
              :user="user"
              :buttons="['view', 'cancel']"
              @changed="refreshUnavailableLoans"
            />
          </div>
        </b-alert>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Vue from "vue";

import VueCal from "vue-cal";
import "vue-cal/dist/i18n/fr";

import LoanableCalendar from "@/components/Loanable/Calendar.vue";
import LoanableCalendarLegend from "@/components/Loanable/CalendarLegend.vue";
import LoanableExceptions from "@/components/Loanable/Exceptions.vue";
import { debounce } from "@/helpers/debounce";
import LoanInfoBox from "@/components/Loan/InfoBox.vue";

export default {
  name: "LoanableAvailabilityRules",
  components: {
    LoanInfoBox,
    LoanableCalendar,
    LoanableCalendarLegend,
    LoanableExceptions,
    VueCal,
  },
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    loanable: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      calendar: {
        view: "",
        startDate: undefined, // Date
        endDate: undefined, // Date
        firstCellDate: undefined, // Date
        lastCellDate: undefined, // Date
      },
      events: [],
      loading: false,
      unavailableLoans: [],
    };
  },
  computed: {
    exceptions: {
      get() {
        return JSON.parse(this.loanable.availability_json);
      },
      set(val) {
        this.loanable.availability_json = JSON.stringify(val);
      },
    },
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    addException() {
      if (!this.disabled) {
        this.exceptions = [
          ...this.exceptions,
          {
            available: this.loanable.availability_mode === "never",
            type: null,
            scope: [],
            period: "00:00-24:00",
          },
        ];
      }
    },
    calendarChanged({ view, startDate, endDate, firstCellDate, lastCellDate }) {
      this.calendar = { view, startDate, endDate, firstCellDate, lastCellDate };
      this.calendarUpdateEvents();
    },
    async refreshUnavailableLoans() {
      const { data } = await Vue.axios.get(`/loanables/${this.loanable.id}/loans/unavailable`, {
        params: {
          availability_mode: this.loanable.availability_mode,
          availability_json: this.loanable.availability_json,
        },
      });
      this.unavailableLoans = data;
    },
    async calendarUpdateEvents() {
      let { view, startDate, endDate, firstCellDate, lastCellDate } = this.calendar;

      const { CancelToken } = Vue.axios;
      const cancelToken = CancelToken.source();

      let start, end;

      // Include out-of-scope days in month view.
      if (view === "month") {
        // Must convert [, ] interval to [, ) by adding one second to the end time.
        start = this.$dayjs(firstCellDate);
        end = this.$dayjs(lastCellDate).add(1, "s");
      } else {
        // Must convert [, ] interval to [, ) by adding one second to the end time.
        start = this.$dayjs(startDate);
        end = this.$dayjs(endDate).add(1, "s");
      }

      try {
        this.loading = true;
        const response = await Vue.axios.get(`/loanables/${this.loanable.id}/availability`, {
          params: {
            start: start.format("YYYY-MM-DD HH:mm:ss"),
            end: end.format("YYYY-MM-DD HH:mm:ss"),
            responseMode: "available",
            includeLoans: "0",
            // Sync with availability in real-time.
            availabilityMode: this.loanable.availability_mode,
            availabilityJson: this.loanable.availability_json,
          },
          cancelToken: cancelToken.token,
        });
        this.events = response.data.map((e) => {
          e.type = "availability";
          return e;
        });
      } catch (e) {
        throw e;
      } finally {
        this.loading = false;
      }
    },
  },
  mounted() {
    this.refreshUnavailableLoans();
  },
  created() {
    this.calendarEventsDebounced = debounce(() => this.calendarUpdateEvents(), 50);
    this.refreshLoansDebounced = debounce(() => this.refreshUnavailableLoans(), 300);
  },
  watch: {
    "loanable.availability_json": function () {
      this.loading = true;
      this.calendarEventsDebounced();
      this.refreshLoansDebounced();
    },
    "loanable.availability_mode": function () {
      this.loading = true;
      this.calendarEventsDebounced();
      this.refreshLoansDebounced();
    },
  },
};
</script>
