<template>
  <div>
    <b-alert variant="warning" show v-if="hasNoVisibleContacts">
      Personne n'est présentement affiché comme contact lors des emprunts.
    </b-alert>
    <b-row>
      <b-col xl="6" class="mb-3" v-if="loanable.owner">
        <user-blurb
          v-if="!isEditingOwner"
          class="coowner"
          :user="loanable.owner.user"
          show-phone
          description="Propriétaire"
        >
          <template v-slot:nameicon>
            <b-icon
              v-b-tooltip.hover
              title="Visible aux emprunteurs"
              variant="primary"
              v-if="loanable.show_owner_as_contact"
              icon="eye-fill"
            />
          </template>
          <template v-slot:buttons v-if="canEditOwner">
            <b-col
              class="action-buttons mt-3 mt-sm-0 d-flex justify-content-center flex-column"
              cols="12"
              sm="auto"
            >
              <b-button
                :disabled="disabled"
                size="sm"
                variant="outline-secondary"
                @click="() => (isEditingOwner = true)"
              >
                <b-icon icon="pencil" /> Modifier
              </b-button>
            </b-col>
          </template>
        </user-blurb>
        <owner-form
          v-else
          :disabled="disabled"
          :loanable="loanable"
          @done="() => (this.isEditingOwner = false)"
        />
      </b-col>
      <b-col class="mb-3" xl="6" v-for="coowner in loanable.coowners">
        <user-blurb
          :key="coowner.id"
          v-if="!editingIds.includes(coowner.id)"
          class="coowner"
          :user="coowner.user"
          show-phone
          :description="coowner.title"
          :class="{ loading: isDeletingCoowner(coowner) }"
          :show-admin-link="showAdminLinks"
        >
          <template v-slot:nameicon>
            <b-icon
              v-b-tooltip.hover
              title="Visible aux emprunteurs"
              variant="primary"
              v-if="coowner.show_as_contact"
              icon="eye-fill"
            />
          </template>
          <template v-slot:buttons>
            <b-col
              class="action-buttons mt-3 mt-sm-0 d-flex justify-content-center flex-column"
              cols="12"
              sm="auto"
            >
              <b-button
                :disabled="disabled"
                size="sm"
                variant="outline-secondary"
                @click="() => editCoowner(coowner.id)"
                v-if="!isDeletingCoowner(coowner) && canEditCoowner(coowner)"
              >
                <b-icon icon="pencil" /> Modifier
              </b-button>
              <b-button
                :disabled="disabled"
                size="sm"
                variant="outline-danger"
                @click="() => removeCoowner(coowner)"
                v-if="!isDeletingCoowner(coowner) && canDeleteCoowner(coowner)"
              >
                <b-icon icon="trash" /> Retirer
              </b-button>
              <layout-loading with-button v-if="isDeletingCoowner(coowner)"></layout-loading>
            </b-col>
          </template>
        </user-blurb>
        <coowner-form v-else :disabled="disabled" :coowner="coowner" @done="finishEditCoowner" />
      </b-col>
      <b-col xl="6" v-if="newUser" class="mb-3">
        <user-blurb class="loading coowner" :user="newUser">
          <layout-loading with-button></layout-loading>
        </user-blurb>
      </b-col>
    </b-row>
    <forms-validated-input
      v-if="canAddCoowner && loanable.owner && loanable.id && !disabled"
      type="relation"
      name="coowner"
      label="Donnez des droits de gestion à un autre utilisateur"
      description="Cet utilisateur pourra voir et gérer tous les aspects de ce véhicule, sauf les droits d'accès d'autres utilisateurs et la suppression du véhicule."
      :value="null"
      @relation="addCoowner"
      reset-after-select
      :disabled="!!newUser"
      :query="{
        slug: 'users',
        value: 'id',
        text: 'full_name',
        details: 'description',
        params: {
          active: true,
          approvedInSharedCommunities: loanable.owner.user.id,
          fields: 'id,full_name,description,avatar',
          '!id': userFilter,
          ...loanableCommunitiesFilter,
        },
      }"
    />
  </div>
</template>
<script>
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import LayoutLoading from "@/components/Layout/Loading.vue";
import UserBlurb from "@/components/User/UserBlurb.vue";
import CoownerForm from "@/components/Loanable/CoownerForm.vue";
import { canAddCoowner, canEditCoowner, canRemoveCoowner } from "@/helpers/permissions/loanables";
import { getAdminCommunities, isGlobalAdmin } from "@/helpers/permissions/users";
import OwnerForm from "@/components/Loanable/OwnerForm.vue";

export default {
  name: "coowners-form",
  components: { OwnerForm, CoownerForm, UserBlurb, LayoutLoading, FormsValidatedInput },
  props: {
    disabled: { type: Boolean, default: false },
    loanable: { type: Object, required: true },
    user: { type: Object, required: true },
    showAdminLinks: { type: Boolean, default: false },
  },
  data() {
    return {
      newUser: null,
      deletingIds: [],
      editingIds: [],
      isEditingOwner: false,
    };
  },
  computed: {
    userIsOwner() {
      return this.loanable.owner.user.id === this.user.id;
    },
    canEditOwner() {
      return this.userIsOwner || isGlobalAdmin(this.user);
    },
    canAddCoowner() {
      return canAddCoowner(this.user, this.loanable);
    },
    hasNoVisibleContacts() {
      return (
        !this.loanable.show_owner_as_contact &&
        this.loanable.coowners.reduce((acc, c) => acc && !c.show_as_contact, true)
      );
    },
    userFilter() {
      const denyList = this.loanable.coowners ? this.loanable.coowners.map((c) => c.user.id) : [];
      if (this.loanable.owner) {
        denyList.push(this.loanable.owner.user.id);
      }
      return denyList.join(",");
    },
    loanableCommunitiesFilter() {
      if (this.loanable.owner) {
        return {
          "communities.id": this.loanable.owner.user.communities.map((c) => c.id).join(","),
        };
      }

      // Creating loanable from admin page
      if (isGlobalAdmin(this.user)) {
        return {};
      }

      // Community admins can only create loanables for their communities

      return {
        "communities.id": getAdminCommunities(this.user).join(","),
      };
    },
  },
  methods: {
    async addCoowner(user) {
      this.newUser = user;
      try {
        await this.$store.dispatch("loanables/addCoowner", { loanable: this.loanable, user });
      } finally {
        this.newUser = null;
      }
    },
    async removeCoowner(coowner) {
      try {
        const isRemovingSelf = coowner.user.id === this.user.id;
        if (
          !isRemovingSelf ||
          confirm("Êtes-vous certains de vouloir vous enlever en tant que co-propriétaire?")
        ) {
          this.deletingIds.push(coowner.id);
          await this.$store.dispatch("loanables/removeCoowner", {
            coownerId: coowner.id,
          });
          if (isRemovingSelf) {
            await this.$router.push("/app");
          }
        }
      } finally {
        this.deletingIds = this.deletingIds.filter((i) => i !== coowner.id);
      }
    },
    editCoowner(coownerId) {
      this.editingIds.push(coownerId);
    },
    finishEditCoowner(coownerId) {
      this.editingIds = this.editingIds.filter((id) => id !== coownerId);
    },
    canEditCoowner(coowner) {
      return canEditCoowner(this.user, this.loanable, coowner);
    },
    canDeleteCoowner(coowner) {
      return canRemoveCoowner(this.user, this.loanable, coowner);
    },
    isDeletingCoowner(coowner) {
      return this.deletingIds.includes(coowner.id);
    },
  },
};
</script>

<style scoped>
.loading {
  opacity: 0.5;
}
.action-buttons {
  gap: 0.5rem;
}
</style>
