<template>
  <div
    class="loanable-details"
    :class="{
      'fixed-width': fixedWidth,
    }"
  >
    <header class="loanable-details__header">
      <img
        v-if="loanableImage"
        class="loanable-details__image loanable-details__image--custom"
        :src="loanableImage"
        :alt="loanableTitle"
      />
      <svg-bike
        v-else-if="loanable.type == 'bike'"
        class="loanable-details__image loanable-details__image--default"
      />
      <svg-car
        v-else-if="loanable.type == 'car'"
        class="loanable-details__image loanable-details__image--default"
      />
      <svg-trailer
        v-else-if="loanable.type == 'trailer'"
        class="loanable-details__image loanable-details__image--default"
      />

      <user-avatar :user="ownerUser" variant="cut-out" class="loanable-details__avatar" />
      <div class="loanable-details__tags">
        <div v-if="loanable.is_self_service">
          <b-badge variant="warning"> Libre service </b-badge>
        </div>
        <div v-else-if="!loanable.is_self_service">
          <b-badge variant="warning"> Sur demande </b-badge>
        </div>
      </div>
    </header>
    <main class="loanable-details__content">
      <div>
        <b-tabs nav-wrapper-class="sticky-top bg-white" fill>
          <b-tab class="mt-3" title="Véhicule" :active.sync="overviewShown">
            <dl>
              <dt>Nom du véhicule</dt>
              <dd>{{ loanable.name }}</dd>

              <dt>Propriétaire</dt>
              <dd>{{ loanable.owner.user.full_name }}</dd>

              <template v-if="loanable.comments">
                <dt>Commentaires</dt>
                <dd>&laquo;&nbsp;{{ loanable.comments }}&nbsp;&raquo;</dd>
              </template>
              <template v-if="loanable.type === 'bike'">
                <dt>{{ $t("fields.model") | capitalize }}</dt>
                <dd>{{ loanable.details.model }}</dd>
                <dt>{{ $t("fields.bike_type") | capitalize }}</dt>
                <dd>{{ $t(`bike_types.${loanable.details.bike_type}`) | capitalize }}</dd>
                <dt>{{ $t("fields.size") | capitalize }}</dt>
                <dd>
                  {{ $t(`sizes.${loanable.details.size}`) | capitalize }}
                </dd>
              </template>
              <template v-else-if="loanable.type === 'trailer'">
                <dt>{{ $t("fields.maximum_charge") | capitalize }}</dt>
                <dd>{{ loanable.details.maximum_charge }}</dd>
                <dt>{{ $t("fields.dimensions") | capitalize }}</dt>
                <dd>{{ loanable.details.dimensions }}</dd>
              </template>
              <template v-else-if="loanable.type === 'car'">
                <dt>{{ $t("fields.brand") | capitalize }}</dt>
                <dd>{{ loanable.details.brand }}</dd>
                <dt>{{ $t("fields.model") | capitalize }}</dt>
                <dd>{{ loanable.details.model }}</dd>
                <dt>{{ $t("fields.year_of_circulation") | capitalize }}</dt>
                <dd>{{ loanable.details.year_of_circulation }}</dd>
                <dt>{{ $t("fields.transmission_mode") | capitalize }}</dt>
                <dd>
                  {{ $t(`transmission_modes.${loanable.details.transmission_mode}`) | capitalize }}
                </dd>
                <dt>{{ $t("fields.engine") | capitalize }}</dt>
                <dd>{{ $t(`engines.${loanable.details.engine}`) | capitalize }}</dd>
                <dt>{{ $t("fields.papers_location") | capitalize }}</dt>
                <dd>
                  {{ $t(`papers_locations.${loanable.details.papers_location}`) | capitalize }}
                </dd>
              </template>
            </dl>
          </b-tab>
          <b-tab title="Disponibilité" @click="loadEstimation">
            <loanable-calendar
              defaultView="week"
              :events="availability"
              :editable-events="potentialLoanEvent"
              variant="small"
              @ready="getAvailability"
              @view-change="getAvailability"
              @event-change="eventChanged"
            ></loanable-calendar>
          </b-tab>
          <b-tab class="mt-3" title="Tarifs" @click="onEstimationFocus">
            <!-- field estimated distance -->
            <div class="p-2">
              <b-form-group :label="$t('loans.fields.estimated_distance') | capitalize">
                <b-form-input
                  id="estimated_distance"
                  name="estimated_distance"
                  type="text"
                  :min="0"
                  :rules="{ min_value: 0 }"
                  v-model="potentialLoan.estimated_distance"
                  v-mask="'#######'"
                  :formatter="integer"
                  @input="debouncedLoadEstimation"
                  size="sm"
                />
              </b-form-group>
            </div>
            <!---->
            <div v-if="loadingEstimation" class="loanable-details__estimated-fare-loading">
              <layout-loading full-height />
            </div>
            <div v-else class="loanable-details__estimated-fare">
              <table class="trip-details">
                <tr>
                  <th>Temps et distance&nbsp;:</th>
                  <td class="text-right tabular-nums">
                    {{ potentialLoan.estimated_price | currency }}
                  </td>
                </tr>
                <tr v-if="potentialLoan.estimated_insurance > 0">
                  <th>Assurances&nbsp;:</th>
                  <td class="text-right tabular-nums">
                    {{ potentialLoan.estimated_insurance | currency }}
                  </td>
                </tr>
                <tr>
                  <th>Total&nbsp;:</th>
                  <td class="trip-details__total text-right tabular-nums">
                    {{
                      (potentialLoan.estimated_price + potentialLoan.estimated_insurance) | currency
                    }}
                  </td>
                </tr>
              </table>
            </div>
          </b-tab>
        </b-tabs>
      </div>
    </main>
    <footer class="loanable-details__footer">
      <!-- Only one button will be displayed at a time. -->
      <b-button variant="outline-primary" v-if="loanable.available" @click="createLoan">
        Demande d'emprunt
      </b-button>
      <b-button v-else-if="searchingLoanables" variant="outline-warning" disabled>
        <b-spinner small />
        Valider la disponibilité
      </b-button>
      <b-button
        v-else-if="!loanable.tested"
        variant="outline-warning"
        v-b-tooltip.hover
        :title="
          `Cliquez pour valider la disponibilité avec les paramètres ` + `d'emprunt sélectionnés`
        "
        :disabled="invalidDuration"
        @click.stop.prevent="$emit('test')"
      >
        Valider la disponibilité
      </b-button>
      <b-button variant="outline-info" v-else disabled> Indisponible </b-button>
    </footer>
  </div>
</template>

<script>
import Vue from "vue";

import Bike from "@/assets/svg/bike.svg";
import Car from "@/assets/svg/car.svg";
import Trailer from "@/assets/svg/trailer.svg";

import LoanableCalendar from "@/components/Loanable/Calendar.vue";
import UserAvatar from "@/components/User/Avatar.vue";

import locales from "@/locales";
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import LayoutLoading from "@/components/Layout/Loading.vue";
import { debounce } from "@/helpers/debounce";
import { integer } from "@/helpers/filters";
import dayjs from "dayjs";

export default {
  name: "LoanableDetails",
  components: {
    LayoutLoading,
    FormsValidatedInput,
    "svg-bike": Bike,
    "svg-car": Car,
    "svg-trailer": Trailer,
    LoanableCalendar,
    UserAvatar,
  },
  props: {
    loanable: {
      type: Object,
      required: false,
      default: null,
    },
    fixedWidth: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      availability: [],
      potentialLoan: this.$store.state.loans.item,
      loadingEstimation: false,
      estimationCancelToken: null,
      eventDragCount: 0,
      overviewShown: true,
    };
  },
  mounted() {
    // Reset estimated price and insurance whenever a new loanable is selected
    this.$store.commit("loans/patchItem", {
      estimated_insurance: null,
      estimated_price: null,
    });
  },
  created() {
    this.debouncedLoadEstimation = debounce(this.loadEstimation);
  },
  computed: {
    searchingLoanables() {
      return this.$store.state.loanables.cancelToken;
    },
    invalidDuration() {
      // Invalid if the duration of a loan is not greater than 0 minute.
      return !(this.$store.state.loans.item.duration_in_minutes > 0);
    },
    loanableTitle() {
      return this?.loanable?.name;
    },
    loanableImage() {
      return this?.loanable?.image?.sizes?.thumbnail;
    },
    ownerUser() {
      return this?.loanable?.owner?.user;
    },
    potentialLoanEvent() {
      const searchDuration = this.$store.state["loanable.search"].lastSearchDuration;
      const end = dayjs(this.$store.state["loanable.search"].lastSearchDate)
        .add(searchDuration, "minute")
        .format("YYYY-MM-DD HH:mm");
      const start = dayjs(this.$store.state["loanable.search"].lastSearchDate).format(
        "YYYY-MM-DD HH:mm"
      );

      return [
        {
          type: "loan",
          start,
          end,
          data: {
            status: "potential",
          },
          cacheClear: this.eventDragCount,
        },
      ];
    },
    searchParams() {
      return {
        departure_at: this.$store.state.loans.item.departure_at,
        duration_in_minutes: this.$store.state.loans.item.duration_in_minutes,
      };
    },
  },
  methods: {
    integer,
    async eventChanged(e) {
      const searchDate = dayjs(e.startDate).format("YYYY-MM-DD HH:mm");

      // When dragging from one week to the next, we lose the event refrence and it's length, in which
      // case we can fallback to the stored last duration.
      const duration = e.endTimeMinutes
        ? (e.daysCount - 1) * 24 * 60 + e.endTimeMinutes - e.startTimeMinutes
        : this.$store.state["loanable.search"].lastSearchDuration;

      await this.$store.commit("loans/patchItem", {
        departure_at: searchDate,
        duration_in_minutes: duration,
      });

      // This might not result in a change in the store (e.g. if dragging to the past, since past
      // dates are disabled), which in turn will not update the dragged event which will be in
      // an invalid location. To force the event to re-render, we update a dummy property.
      this.eventDragCount++;
    },
    createLoan() {
      this.$store.commit("loans/mergeItem", {
        estimated_distance: this.potentialLoan.estimated_distance,
      });
      this.$emit("select");
    },
    onEstimationFocus() {
      this.potentialLoan = this.$store.state.loans.item;
      this.loadEstimation();
    },
    async loadEstimation() {
      if (this.estimationCancelToken) {
        this.estimationCancelToken.cancel();
      }

      const { CancelToken } = Vue.axios;
      this.estimationCancelToken = CancelToken.source();

      try {
        this.loadingEstimation = true;
        const { data } = await Vue.axios.get(`/loanables/${this.loanable.id}/test`, {
          params: {
            loanable_id: this.loanable.id,
            estimated_distance: this.potentialLoan.estimated_distance,
            ...this.searchParams,
          },
          cancelToken: this.estimationCancelToken.token,
        });

        this.potentialLoan = {
          ...this.$store.state.loans.item,
          estimated_insurance: data.insurance,
          estimated_price: data.price,
          estimated_distance: this.potentialLoan.estimated_distance,
          loanable: {
            ...data,
          },
        };

        const newLoanableData = this.$store.state["loanables"].data.map((d) => {
          if (d.id !== this.loanable.id) {
            return d;
          }
          return {
            ...d,
            available: data.available,
            tested: true,
          };
        });

        await this.$store.commit("loanables/data", newLoanableData);
        this.$store.commit("loans/item", this.potentialLoan);
        this.loadingEstimation = false;
      } catch (e) {
        if (!Vue.axios.isCancel(e)) {
          this.loadingEstimation = false;
        }
      }
    },
    getAvailability({ view, startDate, endDate, firstCellDate, lastCellDate, week }) {
      const { CancelToken } = Vue.axios;
      const cancelToken = CancelToken.source();

      let start, end;

      // Include out-of-scope days in month view.
      if (view === "month") {
        // Must convert [, ] interval to [, ) by adding one second to the end time.
        start = this.$dayjs(firstCellDate);
        end = this.$dayjs(lastCellDate).add(1, "s");
      } else {
        // Must convert [, ] interval to [, ) by adding one second to the end time.
        start = this.$dayjs(startDate);
        end = this.$dayjs(endDate).add(1, "s");
      }

      try {
        Vue.axios
          .get(`/loanables/${this.loanable.id}/availability`, {
            params: {
              start: start.format("YYYY-MM-DD HH:mm:ss"),
              end: end.format("YYYY-MM-DD HH:mm:ss"),
              responseMode: "available",
            },
            cancelToken: cancelToken.token,
          })

          .then((response) => {
            this.availability = response.data.map((e) => {
              e.type = "availability";
              return e;
            });
          });
      } catch (e) {
        throw e;
      }
    },
  },
  watch: {
    searchParams: function (val, oldVal) {
      // Only load estimation for calendar or estimation tabs
      if (
        !this.overviewShown &&
        (val.departure_at !== oldVal.departure_at ||
          val.duration_in_minutes !== oldVal.duration_in_minutes)
      ) {
        this.loadEstimation();
      }
    },
  },
  i18n: {
    messages: {
      en: {
        loans: locales.en.loans,
        ...locales.en.loanables,
      },
      fr: {
        loans: locales.fr.loans,
        ...locales.fr.loanables,
      },
    },
  },
};
</script>

<style lang="scss">
.loanable-details {
  &.fixed-width {
    // Fixed width for the moment. We'll deal with resizing later.
    width: 16rem;
    max-height: 28rem;

    .loanable-details__content {
      padding: 0;
      padding-bottom: 4.25rem;
    }

    .loanable-details__footer {
      position: fixed;
      bottom: 0;
      width: 100%;

      background-color: white;
      // to be over the sticky tabs
      z-index: 1050;
    }
  }
  position: relative;
  overflow-y: auto;

  .badge {
    padding: 0.5rem;
  }

  dt,
  dd {
    padding-left: 0.5rem;
  }

  &__header {
    position: relative;
    // At the moment, thumbnails are 256px x 160px -> 16rem x 10rem.
    height: 10rem;
    width: 100%;
  }
  &__avatar {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  &__footer {
    height: 3.5rem;
    // To get past the arrow that display over the button.
    padding: 0.5rem 0.5rem 0.75rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__image {
    position: relative;
    height: 10rem;
    width: 100%;
  }
  &__image--custom {
    object-fit: cover;
  }
  &__image--default {
    fill: $locomotion-green;
    position: relative;
    height: 8rem;
    top: 1rem;
  }
  &__owner-avatar {
    position: absolute;
    width: 4rem;
    height: 4rem;
    bottom: 0;
    right: 0;
  }
  /* Temporary element until we create sections. */
  &__loanable-title {
    text-align: center;
  }
  &__tags {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
  &__estimated-fare {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    min-height: 3rem;
  }
  &__estimated-fare-loading {
    height: 3rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // This is very similar to that in components/Loan/Actions/Payment.vue
  .trip-details {
    margin: 0 auto;

    th {
      text-align: left;
    }
    th,
    td {
      padding: 0 0.75rem;
    }
  }

  .trip-details__total {
    border-top: 1px solid black;
  }
}
</style>
