<template>
  <info-box
    class="loanable-info-box"
    :loading="loading"
    :big-img="loanableImageSrc"
    :link="`/profile/loanables/${loanable.id}`"
    :title="loanable.name"
    :user-avatar="hasDifferentOwner ? loanable.owner.user : null"
  >
    <b-row class="flex-fill align-items-center" no-gutters align-h="between">
      <b-col cols="12" xl="8">
        <span class="loanable-info-box__owner" v-if="hasDifferentOwner"
          >{{ loanable.owner.user.full_name }}<br
        /></span>
        <span class="loanable-info-box__name">{{ loanable.name }}</span>
      </b-col>

      <b-col class="loanable-info-box__actions mt-2 mt-xl-0" cols="12" xl="4">
        <b-button
          size="sm"
          :disabled="loading"
          variant="outline-primary"
          v-if="hasButton('availability')"
          :to="`/profile/loanables/${loanable.id}#availability`"
        >
          Modifier les disponibilités
        </b-button>

        <b-button
          size="sm"
          :disabled="loading"
          variant="outline-danger"
          v-if="hasButton('remove') && canDeleteLoanable"
          @click.prevent="disableLoanableModal"
        >
          Retirer
        </b-button>
      </b-col>
    </b-row>
  </info-box>
</template>

<script>
import { extractErrors } from "@/helpers";
import UserAvatar from "@/components/User/Avatar.vue";
import InfoBox from "@/components/shared/InfoBox.vue";
import { canDeleteLoanable } from "@/helpers/permissions/loanables";

export default {
  name: "LoanableInfoBox",
  components: { InfoBox, UserAvatar },
  props: {
    buttons: {
      type: Array,
      required: false,
      default() {
        return ["availability", "remove"];
      },
    },
    loanable: {
      type: Object,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      loading: false,
      canDeleteLoanable: canDeleteLoanable(this.user, this.loanable),
    };
  },
  computed: {
    loanableImageSrc() {
      if (!this.loanable.image) {
        return "";
      }
      return this.loanable.image.sizes?.thumbnail ?? this.loanable.image.url;
    },
    hasDifferentOwner() {
      if (!this.loanable.owner) {
        return false;
      }
      return this.loanable.owner.user.id !== this.user.id;
    },
  },
  methods: {
    disableLoanableModal() {
      this.$bvModal
        .msgBoxConfirm("Êtes-vous sûr de vouloir retirer ce véhicule de la plateforme?", {
          size: "sm",
          buttonSize: "sm",
          okTitle: "Oui, retirer",
          cancelTitle: "Annuler",
          okVariant: "danger",
          cancelVariant: "primary",
          footerClass: "p-2 border-top-0",
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.disableLoanable();
          }
        });
    },
    async disableLoanable() {
      this.loading = true;
      try {
        await this.$store.dispatch("loanables/disable", this.loanable.id);
        this.$emit("disabled", this.loanable.id);
      } catch (e) {
        if (e.request?.status === 422) {
          this.$store.commit("addNotification", {
            content: extractErrors(e.response.data).join(", "),
            title: "Impossible de retirer le véhicule",
            variant: "danger",
          });
        } else {
          throw e;
        }
      } finally {
        this.loading = false;
      }
    },
    hasButton(name) {
      return this.buttons.indexOf(name) > -1;
    },
  },
};
</script>

<style lang="scss">
@import "~bootstrap/scss/mixins/breakpoints";

.loanable-info-box {
  &__name {
    color: $black;
    font-size: 1.25rem;
    position: unset;
  }

  &__owner {
    color: $black;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    @include media-breakpoint-up(xl) {
      justify-content: end;
    }
  }
}
</style>
