<template>
  <div class="loanable-form">
    <validation-observer ref="observer" v-slot="{ passes, valid }">
      <!--
        Submit is bound to buttons directly so as to prevent vue-cal to
        trigger a submit event for an unknown reason.
      -->
      <b-alert
        show
        variant="warning"
        v-if="loanable.type && !user.available_loanable_types.includes(loanable.type)"
      >
        La communauté dans laquelle vous êtes inscrit.e ne permet pas le partage de véhicules du
        type '{{ $t(`fields.types.${loanable.type}`) }}'. Ce véhicule ne sera donc pas visible à vos
        voisin.e.s.
      </b-alert>
      <b-form :novalidate="true" class="form loanable-form__form" @submit.stop.prevent>
        <form-section
          toggleable
          :forceShow="openSections"
          class="mt-2"
          section-title="Informations de base"
          :inititally-visible="!loanable.id"
        >
          <b-row>
            <b-col lg="8">
              <forms-validated-input
                name="name"
                :label="$t('fields.name') | capitalize"
                :rules="form.general.name.rules"
                type="text"
                :placeholder="placeholderOrLabel('name') | capitalize"
                :description="$t('descriptions.name')"
                v-model="loanable.name"
              />
            </b-col>

            <b-col lg="4">
              <forms-validated-input
                name="type"
                :label="$t('fields.type') | capitalize"
                :rules="form.general.type.rules"
                type="select"
                :options="typeOptions"
                :placeholder="placeholderOrLabel('type') | capitalize"
                :disabled="!!loanable.id"
                disabled-tooltip="On ne peut pas changer le type d'un véhicule existant."
                v-model="loanable.type"
              />
            </b-col>
          </b-row>

          <b-row>
            <b-col lg="8">
              <forms-validated-input
                name="position"
                :description="form.general.position.description"
                :rules="form.general.position.rules"
                :center="center"
                :label="$t('fields.position') | capitalize"
                type="point"
                :placeholder="placeholderOrLabel('position') | capitalize"
                :polygons="loanablePolygons"
                v-model="loanable.position"
              />
            </b-col>

            <b-col>
              <forms-validated-input
                name="location_description"
                :description="$t('descriptions.location_description')"
                :rules="form.general.location_description.rules"
                :rows="12"
                :label="$t('fields.location_description') | capitalize"
                type="textarea"
                :placeholder="placeholderOrLabel('location_description') | capitalize"
                v-model="loanable.location_description"
              />
            </b-col>
          </b-row>

          <b-row>
            <b-col lg="4">
              <forms-image-uploader
                field="image"
                :label="$t('fields.image') | capitalize"
                :preview-aspect-ratio="'16 / 10'"
                :description="$t('descriptions.image')"
                v-model="loanable.image"
              />
            </b-col>

            <b-col lg="8">
              <forms-validated-input
                name="comments"
                :description="$t('descriptions.comments')"
                :rules="form.general.comments.rules"
                :label="$t('fields.comments') | capitalize"
                type="textarea"
                :placeholder="placeholderOrLabel('comments') | capitalize"
                v-model="loanable.comments"
              />

              <forms-validated-input
                name="instructions"
                :description="$t('descriptions.instructions')"
                :rules="form.general.instructions.rules"
                :label="$t('fields.instructions') | capitalize"
                type="textarea"
                :placeholder="placeholderOrLabel('instructions') | capitalize"
                v-model="loanable.instructions"
              />
            </b-col>
          </b-row>
        </form-section>

        <form-section
          v-if="loanable.type === 'bike'"
          :forceShow="openSections"
          section-title="Détails du vélo"
          :inititally-visible="!loanable.id"
        >
          <forms-builder :definition="form.bike" v-model="loanable.details" entity="bikes" />
        </form-section>
        <template v-else-if="loanable.type === 'car'">
          <form-section
            section-title="Partage"
            :forceShow="openSections"
            toggleable
            :inititally-visible="!loanable.id"
          >
            <forms-validated-input
              v-model="loanable.details.has_onboard_notebook"
              type="checkbox"
              name="has_onboard_notebook"
              label="J’ai placé un carnet de bord dans le coffre à gant"
              :rules="{
                ...carForm.has_onboard_notebook.rules,
                required_with_availability: isAvailable,
              }"
            >
              <template #description
                ><a :href="guideUrl" target="_blank">Où récupérer mon carnet de bord ?</a>
              </template>
            </forms-validated-input>
          </form-section>
          <form-section
            section-title="Détails de l'auto"
            :forceShow="openSections"
            :inititally-visible="!loanable.id"
            toggleable
          >
            <forms-builder
              :fields="[
                'brand',
                'model',
                'transmission_mode',
                'engine',
                'pricing_category',
                'plate_number',
              ]"
              :definition="carForm"
              v-model="loanable.details"
              entity="cars"
            >
              <template #pricing_category>
                <forms-validated-input
                  :options="carForm.pricing_category.options"
                  v-model="loanable.details.pricing_category"
                  :rules="carForm.pricing_category.rules"
                  type="select"
                  name="pricing_category"
                  :label="$t('cars.fields.pricing_category') | capitalize"
                >
                  <template #description>
                    La catégorie choisie détermine la compensation monétaire que vous recevrez des
                    emprunteurs.
                    <a target="_blank" href="https://info.locomotion.app/tarifs-autopartage/"
                      >Voir les détails sur cette page.</a
                    >
                  </template>
                </forms-validated-input>
              </template>
            </forms-builder>
          </form-section>
          <form-section
            section-title="État de l'auto"
            :forceShow="openSections"
            toggleable
            :inititally-visible="!loanable.id"
            id="report"
          >
            <p>
              Faites part à votre voisinage de l'état de votre auto. Lorsque vous la partagerez,
              vous pourrez vous appuyer sur ce document dans vos discussions.
            </p>
            <ul>
              <li>
                Téléchargez
                <a href="/fiche_etat_de_l_auto.pdf" download
                  >la fiche d'état de l'auto <b-icon icon="download"
                /></a>
              </li>
              <li>Remplissez-la</li>
              <li>
                Placez-en une copie imprimée dans le
                <a :href="guideUrl" target="_blank">carnet de bord</a>
                <ul>
                  <li>
                    <forms-validated-input
                      v-model="loanable.details.has_report_in_notebook"
                      type="checkbox"
                      :rules="{
                        ...carForm.has_report_in_notebook.rules,
                        required_with_availability: isAvailable,
                      }"
                      name="has_report_in_notebook"
                      label="C'est fait!"
                    />
                  </li>
                </ul>
              </li>
              <li>
                Placez-en une copie ici :

                <forms-validated-input
                  id="report"
                  :label="$t('cars.fields.report') | capitalize"
                  :rules="{ ...carForm.report.rules, required_with_availability: isAvailable }"
                  name="report"
                  type="file"
                  v-model="loanable.details.report"
                />
              </li>
              <li>Gardez-la bien à jour!</li>
            </ul>
          </form-section>
          <form-section
            section-title="Assurance"
            :forceShow="openSections"
            toggleable
            :inititally-visible="!loanable.id"
          >
            <forms-builder
              :fields="[
                'year_of_circulation',
                'value_category',
                'has_informed_insurer',
                'insurer',
                'papers_location',
              ]"
              :definition="carForm"
              v-model="loanable.details"
              entity="cars"
            >
              <template v-slot:has_informed_insurer>
                <forms-validated-input
                  :label="$t('cars.fields.has_informed_insurer') | capitalize"
                  name="has_informed_insurer"
                  :rules="{
                    ...carForm.has_informed_insurer.rules,
                    required_with_availability: isAvailable,
                  }"
                  type="checkbox"
                  v-model="loanable.details.has_informed_insurer"
                >
                  <template #label>
                    C’est l’assureur de LocoMotion qui couvre l’auto lorsqu’elle est empruntée via
                    ce site web. Je dois tout de même aviser mon assureur automobile que mon auto
                    est en partage en lui faisant parvenir
                    <a
                      href="https://drive.google.com/uc?export=download&id=1rL5w_APLJM5o_Qny0SPwQM3p4zjrfkdZ"
                      download
                    >
                      cette lettre</a
                    >.
                  </template>
                </forms-validated-input>
              </template>
              <template #insurer>
                <forms-validated-input
                  :label="$t('cars.fields.insurer') | capitalize"
                  name="insurer"
                  :rules="{ ...carForm.insurer.rules, required_with_availability: isAvailable }"
                  type="suggest"
                  v-model="loanable.details.insurer"
                  :options="insurers"
                />
              </template>
            </forms-builder>
          </form-section>
          <form-section section-title="Paiements" :inititally-visible="!loanable.id" toggleable>
            Les paiements des emprunteurs seront versés à votre solde sur locomotion.app. Vous
            pouvez réclamer cet argent à n'importe quel moment sur le
            <router-link to="/app">tableau de bord</router-link>. Vous pouvez
            <b-link v-b-modal:bank-details-form>fournir vos informations bancaires</b-link> pour les
            versements dès maintenant.
            <b-modal id="bank-details-form" hide-footer hide-header size="lg">
              <bank-details-form
                @saved="() => $bvModal.hide('bank-details-form')"
                show-cancel
                @cancel="() => $bvModal.hide('bank-details-form')"
              />
            </b-modal>
          </form-section>
        </template>
        <form-section
          v-else-if="loanable.type === 'trailer'"
          :forceShow="openSections"
          section-title="Détails de la remorque"
          :inititally-visible="!loanable.id"
          toggleable
        >
          <forms-builder :definition="form.trailer" v-model="loanable.details" entity="trailers" />
        </form-section>
        <div class="form__section text-center" v-else>
          <span> Sélectionnez un type de véhicule pour poursuivre la configuration. </span>
        </div>

        <form-section
          :forceShow="openSections"
          v-if="loanable.id"
          toggleable
          section-title="Droits de gestion"
        >
          <coowners-form :loanable="loanable" :user="user" />
        </form-section>

        <form-section
          toggleable
          class="form__section"
          v-if="loanable.type && loanable.id"
          section-title="Disponibilités"
        >
          <a id="availability" />
          <loanable-availability-rules :changed="changed" :loanable="loanable" :loading="loading" />
        </form-section>

        <div class="form__sticky_buttons" v-if="!hideButtons">
          <b-button-group v-if="showReset">
            <b-button
              variant="success"
              @click="checkInvalidThenSubmit(passes)"
              :disabled="!changed || loading"
            >
              {{ $t("save") | capitalize }}
            </b-button>
            <b-button type="reset" :disabled="!changed || loading" @click="$emit('reset')">
              {{ $t("reset") | capitalize }}
            </b-button>
          </b-button-group>
          <b-button
            variant="success"
            @click="checkInvalidThenSubmit(passes)"
            v-else
            :disabled="!changed || loading"
          >
            {{ $t("save") | capitalize }}
          </b-button>
        </div>
      </b-form>
    </validation-observer>
  </div>
</template>

<script>
import FormsBuilder from "@/components/Forms/Builder.vue";
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import LoanableAvailabilityRules from "@/components/Loanable/AvailabilityRules.vue";
import FormsImageUploader from "@/components/Forms/ImageUploader.vue";

import FormLabelsMixin from "@/mixins/FormLabelsMixin";
import UserMixin from "@/mixins/UserMixin";

import locales from "@/locales";
import FormSection from "@/components/Loanable/FormSection.vue";
import CoownersForm from "@/components/Loanable/CoownersForm.vue";
import { extend } from "vee-validate";
import { extractMultipolygonPaths } from "@/helpers/geoJson";
import BankDetailsForm from "@/components/PaymentMethod/BankDetailsForm.vue";

extend("required_with_availability", {
  message: (field) => "Le champs " + field + " est obligatoire lorsque le véhicule est disponible.",
  validate: (value) => ({ valid: !!value, required: true }),
  computesRequired: true,
});

export default {
  name: "LoanableForm",
  mixins: [UserMixin, FormLabelsMixin],
  components: {
    BankDetailsForm,
    CoownersForm,
    FormSection,
    FormsBuilder,
    FormsImageUploader,
    FormsValidatedInput,
    LoanableAvailabilityRules,
  },
  props: {
    center: {
      type: Array | Object,
      required: true,
    },
    form: {
      type: Object,
      required: false,
      default() {
        return null;
      },
    },
    changed: {
      type: Boolean,
      required: false,
      default: false,
    },
    hideButtons: {
      type: Boolean,
      required: false,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    showReset: {
      type: Boolean,
      required: false,
      default: false,
    },
    loanable: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      openSections: false,
      insurers: [
        "Allstate",
        "Alpha Assurance",
        "Arar",
        "Aviva",
        "Banque Nationale Assurances",
        "Belairdirect",
        "CAA Québec",
        "CIBC",
        "Co-operators",
        "Desjardins Assurances",
        "Financière ScotiaVie",
        "iA Groupe financier",
        "Intact",
        "La Capitale",
        "PMT Roy",
        "Promutuel",
        "Prysm Assurances",
        "RBC",
        "RSA",
        "Sonnet",
        "SSQ",
        "TD Meloche Monnex",
        "Wawanesa",
      ],
    };
  },
  methods: {
    polygonOptions(type) {
      switch (type) {
        case "borough":
          return {
            clickable: false,
            fillColor: "#16a59e",
            fillOpacity: 0.15,
            strokeColor: "#16a59e",
            strokeOpacity: 0.35,
          };
        default:
          return {
            clickable: false,
            fillColor: "#16a59e",
            fillOpacity: 0.25,
            strokeOpacity: 0,
          };
      }
    },
    async checkInvalidThenSubmit(passes) {
      this.openSections = false;
      await passes(this.submit);

      const invalidItems = document.getElementsByClassName("is-invalid");
      if (invalidItems.length > 0) {
        this.openSections = true;
        setTimeout(() => this.$scrollTo(invalidItems[0]), 250);
      }
    },
    submit(...params) {
      this.$emit("submit", ...params);
    },
  },
  computed: {
    loanableCommunities() {
      return this.user.communities;
    },
    loanablePolygons() {
      return this.loanableCommunities.flatMap((c) =>
        extractMultipolygonPaths(c.area).map((path) => ({
          name: c.name,
          path,
          options: this.polygonOptions(c.type),
        }))
      );
    },
    guideUrl() {
      for (const community of this.$store.state.user.communities) {
        if (community.starting_guide_url) {
          return community.starting_guide_url;
        }
      }
      return "https://bit.ly/locomotion-bienvenue";
    },
    carForm() {
      const carKeys = Object.keys(this.form.car);

      const form = {};

      // we add all the car form property and our custom report_template property at the right time, see https://262.ecma-international.org/6.0/#sec-ordinary-object-internal-methods-and-internal-slots-ownpropertykeys
      for (let i = 0; i < carKeys.length; i++) {
        const key = carKeys[i];
        form[key] = this.form.car[key];

        if (key === "report") {
          form["report_template"] = {};
        }
      }

      return form;
    },
    typeOptions() {
      return [
        {
          text: "Types",
          disabled: true,
          value: null,
        },
        ...this.form.general.type.options.filter((t) =>
          this.user.available_loanable_types.includes(t.value)
        ),
      ];
    },
    isAvailable() {
      return (
        !!this.loanable.id &&
        (this.loanable.availability_mode === "always" ||
          (this.loanable.availability_json &&
            JSON.parse(this.loanable.availability_json).length > 0))
      );
    },
  },
  i18n: {
    messages: {
      en: {
        cars: locales.en.cars,
        ...locales.en.loanables,
        ...locales.en.forms,
      },
      fr: {
        cars: locales.fr.cars,
        ...locales.fr.loanables,
        ...locales.fr.forms,
      },
    },
  },
};
</script>
