<template>
  <b-card v-else class="bordered-card">
    <div class="mb-3 font-weight-bold">{{ loanable.owner.user.full_name }}</div>
    <b-form>
      <forms-validated-input
        label="Afficher comme contact"
        name="title"
        type="checkbox"
        v-model="show_as_contact"
        :disabled="disabled || loading"
        description="Si ses coordonnées devraient être affichées aux emprunteurs-ses."
      ></forms-validated-input>
    </b-form>
    <!-- form with two fields: show on contact and title -->

    <b-button variant="success" :disabled="disabled || loading" @click.prevent="save"
      >Enregistrer
    </b-button>
    &nbsp;
    <b-button @click.prevent="$emit('done')" :disabled="disabled || loading">Annuler</b-button>
    <layout-loading v-if="loading" with-button />
  </b-card>
</template>
<script>
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import Vue from "vue";
import LayoutLoading from "@/components/Layout/Loading.vue";
import { extractErrors } from "@/helpers";

export default {
  name: "owner-form",
  components: { LayoutLoading, FormsValidatedInput },
  data() {
    return {
      show_as_contact: null,
      loading: false,
    };
  },
  mounted() {
    this.show_as_contact = this.loanable.show_owner_as_contact;
  },
  props: {
    disabled: { type: Boolean, default: false },
    loanable: {
      required: true,
    },
  },
  methods: {
    async save() {
      this.loading = true;
      try {
        await Vue.axios.put("/loanables/" + this.loanable.id, {
          show_owner_as_contact: this.show_as_contact,
        });
        this.loanable.show_owner_as_contact = this.show_as_contact;
        this.$emit("done");
        this.$store.commit(
          "addNotification",
          {
            title: "Modification réussie",
            content: `Les informations d'accès ont bien été enregistrées.`,
            variant: "success",
          },
          { root: true }
        );
      } catch (e) {
        this.$store.commit(
          "addNotification",
          {
            title: "Erreur lors de la modification.",
            content: extractErrors(e.response?.data).join(", "),
            variant: "danger",
          },
          { root: true }
        );
        throw e;
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style scoped lang="scss">
.bordered-card {
  border: 1px solid $light-grey;
}
</style>
