<template>
  <layout-page name="loan" :loading="!routeDataLoaded || !itemLoaded">
    <div v-if="routeDataLoaded && itemLoaded">
      <vue-headful :title="fullTitle" />
      <loan-header class="mb-5" :loan="item" :user="user"></loan-header>

      <b-row>
        <b-col lg="8" class="loan__actions">
          <b-row>
            <b-col md="3" class="d-lg-none">
              <div class="mb-3">
                <a href="#" v-scroll-to="'#loan_details'" to="#detail">Détails de l'emprunt</a>
              </div>
            </b-col>
            <b-col md="9" lg="12">
              <loan-action-buttons
                class="mb-3"
                :item="item"
                @extension="addExtension"
                @cancel="cancelLoan"
                @incident="addIncident('accident')"
              />
            </b-col>
          </b-row>

          <b-alert
            variant="success"
            show
            v-if="
              item.id &&
              item.status === 'in_process' &&
              hasReachedStep('intention') &&
              !hasReachedStep('takeover') &&
              userIsBorrower
            "
          >
            <h4 class="alert-heading">
              {{ $t("loan_approved") }}
            </h4>
            <template v-if="isAfterDeparture">
              <strong>{{ $t("modification_warning.title") }}: </strong>
              {{ $t("modification_warning.need_cancel") }}
            </template>
            <template v-else>
              <b-link @click="scrollToForm">{{ $t("modification_warning.can_modify") }}</b-link>
            </template>
          </b-alert>

          <b-alert
            show
            variant="info"
            v-if="
              item.loanable.type === 'car' &&
              !loanIsCanceled &&
              !hasReachedStep('handover') &&
              userIsBorrower
            "
          >
            <h4 class="alert-heading">
              {{ $t("insurance_warning.title") }}
            </h4>

            <i18n path="insurance_warning.warning" tag="p">
              <template #link>
                <a :href="$t('insurance_warning.terms_link')" target="_blank">{{
                  $t("insurance_warning.terms")
                }}</a>
              </template>
              <template #emphasis>
                <strong>
                  {{ $t("insurance_warning.car_stays_in_quebec") }}
                </strong>
              </template>
            </i18n>
          </b-alert>

          <div class="position-relative">
            <loan-actions
              class="loan-actions"
              :class="{ loading }"
              :item="item"
              @load="loadItemAndUser"
              :user="user"
              @submit="submitLoan"
            />
            <layout-loading v-if="loading" class="actions-loading-spinner"></layout-loading>
          </div>
        </b-col>

        <b-col lg="4" class="loan__sidebar" id="loan_details">
          <loan-details-box vertical :loan="item" :loanable="item.loanable" />
        </b-col>
      </b-row>
    </div>
  </layout-page>
</template>

<script>
import LoanActions from "@/components/Loan/Actions.vue";
import LoanActionButtons from "@/components/Loan/ActionButtons.vue";
import LoanHeader from "@/components/Loan/LoanHeader.vue";

import LoanDetailsBox from "@/components/Loan/DetailsBox.vue";

import Authenticated from "@/mixins/Authenticated";
import DataRouteGuards from "@/mixins/DataRouteGuards";
import FormMixin from "@/mixins/FormMixin";
import LoanStepsSequence from "@/mixins/LoanStepsSequence";
import UserMixin from "@/mixins/UserMixin";

import { capitalize } from "@/helpers/filters";

import locales from "@/locales";

export default {
  name: "Loan",
  mixins: [Authenticated, DataRouteGuards, FormMixin, LoanStepsSequence, UserMixin],
  components: {
    LoanActions,
    LoanActionButtons,
    LoanHeader,
    LoanDetailsBox,
  },
  data() {
    return {
      loanFormShown: this.isCurrentStep("creation"),
    };
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (vm.id === "new" && (!vm.item || !vm.item.loanable)) {
        vm.$router.replace("/search/map");
      }
    });
  },
  watch: {
    routeDataLoaded(loaded) {
      if (loaded && this.itemLoaded) {
        setTimeout(this.scrollToActiveAction, 100);
      }
    },
    itemLoaded(loaded) {
      if (loaded && this.routeDataLoaded) {
        setTimeout(this.scrollToActiveAction, 100);
      }
    },
  },
  computed: {
    fullTitle() {
      const parts = ["LocoMotion", capitalize(this.$i18n.t("titles.loans"))];

      if (this.pageTitle) {
        parts.push(this.pageTitle);
      }

      return parts.reverse().join(" | ");
    },
    pageTitle() {
      return this.item && this.item.loanable
        ? this.item.loanable.name
        : capitalize(this.$i18n.tc("titles.loanable", 1));
    },
    isAfterDeparture() {
      return this.$second.isAfter(this.item.departure_at);
    },
  },
  mounted() {
    this.$root.$on("bv::collapse::state", (collapseId, isJustShown) => {
      if (collapseId === "loan-actions-new") {
        this.loanFormShown = isJustShown;
      }
    });
  },
  methods: {
    skipLoadItem() {
      return this.id === "new";
    },
    scrollToForm() {
      if (!this.loanFormShown) {
        this.$root.$emit("bv::toggle::collapse", "loan-actions-new");
      }
      this.$scrollTo(".loan-actions-creation");
    },
    scrollToActiveAction() {
      // Only do it once
      var called = false;
      var self = this;
      return (function () {
        if (
          called ||
          self.id === "new" ||
          !self.item.id ||
          self.loanIsCanceled ||
          self.loanIsCompleted
        ) {
          return;
        }
        self.$scrollTo(`.loan-actions-${self.currentStep}`);
        called = true;
      })();
    },
    async submitLoan() {
      await this.submit();
      // We assume that if we save correctly, that means the loan is in an availability period.
      // This is to avoid doing another /loan/test request.
      this.$store.commit("loans/mergeItem", { loanable: { available: true } });
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loans,
        titles: locales.en.titles,
      },
      fr: {
        ...locales.fr.loans,
        titles: locales.fr.titles,
      },
    },
  },
};
</script>

<style lang="scss">
.loan.page {
  .page__content {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .loan-actions.loading {
    opacity: 0.5;
    pointer-events: none;
  }
  .actions-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
