<template>
  <b-button v-b-modal="`validation-modal-${id}`" v-bind="$attrs">
    <slot />
    <b-modal
      :id="`validation-modal-${id}`"
      ok-title="Oui"
      cancel-title="Annuler"
      button-size="sm"
      @ok="action"
      hide-header
    >
      <slot name="question">
        {{ question }}
      </slot>
    </b-modal>
  </b-button>
</template>

<script>
import { extractErrors } from "@/helpers";

let id = 0;
export default {
  name: "ValidatedButton",
  props: {
    question: {
      type: String,
      default: "",
    },
    action: {
      type: Function,
      default: () => {},
    },
  },
  data() {
    return {
      // This is needed in case there are more than one modal with the same name, to avoid all of
      // them opening at the same time.
      id: id++,
    };
  },
};
</script>
